Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:eslint, yarn run format:staged

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
    - 'yarn run lint:eslint'
    - 'yarn run format:staged'
'*.{md,mdx,json,html,yml}':
    - 'yarn run format:staged'

fix: Buttons attempts to force display flex
  .changeset/light-donkeys-scream.md
  lib/components/Button/Button.css.ts
Due: yarn run lint:eslint, yarn run format:staged

test: snapshots
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
  lib/components/Anchor/__snapshots__/Anchor.spec.jsx.snap
  lib/components/Button/__snapshots__/Button.spec.tsx.snap
  lib/components/DropDown/__snapshots__/DropDown.spec.jsx.snap
  lib/components/HorizontalAutoScroller/__snapshots__/HorizontalAutoScroller.spec.jsx.snap
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
Due: none

Prerelease Version v4.45.0-next.2
  .changeset/pre.json
  package.json
Due: yarn run format:staged

chore: prerelease workflow is manual tirgger only
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
Due: yarn run format:staged

chore: undo vertical aligment as it seems to be Mac-specific
  lib/components/NumberBubble/NumberBubble.tsx
Due: yarn run lint:eslint, yarn run format:staged

test: snapshot
  lib/components/NumberBubble/__snapshots__/NumberBubble.spec.jsx.snap
Due: none

chore: cleans up `void` use and unused Toast intentional colours
  lib/components/Columns/Column.css.ts
  lib/components/Positioner/Positioner.tsx
  lib/components/Toaster/Toast.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: better Button ref type, add test case for forwarded refs
  lib/components/Button/Button.spec.tsx
  lib/components/Button/Button.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: prerelease
  CHANGELOG.md
  package.json
Due: yarn run format:staged

chore: exit prerelease
  .changeset/light-donkeys-scream.md
  .changeset/pre.json
  .changeset/ready-cougars-sink.md
  .changeset/ripe-beds-learn.md
Due: yarn run format:staged

fix: Stack gap spacing when dividers preset to match original implementation
  .changeset/whole-taxes-knock.md
  lib/components/Stack/Divider.css.ts
  lib/components/Stack/Stack.css.ts
  lib/components/Stack/Stack.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: css calc
  lib/components/Stack/Stack.css.ts
Due: yarn run lint:eslint, yarn run format:staged

patch: gap calc on Stack with dividers (#1209)
  .changeset/whole-taxes-knock.md
  lib/components/Stack/Divider.css.ts
  lib/components/Stack/Stack.css.ts
  lib/components/Stack/Stack.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: export Flex folder
  .changeset/real-peaches-kneel.md
  lib/components/index.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: allow inline and stack helpers to take no arg
  lib/components/Flex/flex.ts
Due: yarn run lint:eslint, yarn run format:staged

patch: missing Flex folder export (#1212)
  .changeset/real-peaches-kneel.md
  lib/components/Flex/flex.ts
  lib/components/index.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: adds `minimal` appearance to Tabs
  .changeset/true-berries-fall.md
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/TabList.css.ts
  lib/components/Tabs/Tabs.tsx
  lib/components/Tabs/__snapshots__/Tabs.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

feat: adds `minimal` appearance to Tabs (#1214)
  .changeset/true-berries-fall.md
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/TabList.css.ts
  lib/components/Tabs/Tabs.tsx
  lib/components/Tabs/__snapshots__/Tabs.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

feat: configure sprinkles for responsive text size
  lib/styles/sprinkles.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: adds a simple responsiveStyles helper for possible future use
  lib/styles/responsiveStyles.md
  lib/styles/responsiveStyles.ts
  lib/themes/makeTheme.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/rude-words-battle.md
Due: yarn run format:staged

feat: allow layer to be passed in to responsiveStyles function
  lib/styles/layers.css.ts
  lib/styles/responsiveStyles.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: Icon cleanup
  lib/components/Icon/Icon.spec.tsx
  lib/components/Icon/Icon.stories.tsx
  lib/components/Icon/Icon.tsx
  lib/components/Icon/__snapshots__/Icon.spec.tsx.snap
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/cool-readers-sort.md
Due: yarn run format:staged

Fix Icon component to handle null/undefined props gracefully with fallback (#1222)
  .changeset/cool-readers-sort.md
  lib/components/Icon/Icon.spec.jsx
  lib/components/Icon/Icon.spec.tsx
  lib/components/Icon/Icon.tsx
  lib/components/Icon/__snapshots__/Icon.spec.tsx.snap
Due: yarn run lint:eslint, yarn run format:staged

fix: OptionGrid checkbox outline
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/Stack/Stack.spec.jsx
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/easy-baths-wear.md
  CHANGELOG.md
Due: yarn run format:staged

chore: remove unneeded clsx
  lib/components/Stack/Stack.tsx
Due: yarn run lint:eslint, yarn run format:staged

Fix: Stack component className prop handling (#1225)
  .changeset/easy-baths-wear.md
  CHANGELOG.md
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/Stack/Stack.spec.jsx
  lib/components/Stack/Stack.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore(deps): bump
  package.json
  yarn.lock
Due: yarn run format:staged

feat: adds keyboard event handling to Tabs
  lib/components/Tabs/TabList.tsx
  lib/components/Tabs/Tabs.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged
