Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:eslint, yarn run format:staged

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
    - 'yarn run lint:eslint'
    - 'yarn run format:staged'
'*.{md,mdx,json,html,yml}':
    - 'yarn run format:staged'

fix: container style export
  lib/components/OverdriveProvider/OverdriveProvider.tsx
  lib/themes/theme.css.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: publish prerelease
  .changeset/plain-cameras-stick.md
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: yarn run format:staged

fix: isValidColor is a little runtime safer
  .changeset/early-wolves-camp.md
  .changeset/pre.json
  CHANGELOG.md
  lib/components/OverdriveProvider/useColorOverrides.ts
  package.json
Due: yarn run lint:eslint, yarn run format:staged

feat: adds story for OverdriveProvider
  lib/components/OverdriveProvider/OverdriveProvider.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: vars on `:root` and `font` on reset to maintain existing parity
  .changeset/better-cooks-sneeze.md
  .changeset/pre.json
  .changeset/rare-women-ring.md
  .storybook/overdriveDecorator.tsx
  CHANGELOG.md
  lib/reset/globalReset.css.ts
  lib/themes/base/vars.css.ts
  package.json
Due: yarn run lint:eslint, yarn run format:staged

fix: global css vars spelling
  .changeset/khaki-mails-go.md
  .changeset/pre.json
  CHANGELOG.md
  lib/themes/theme.css.ts
  package.json
Due: yarn run lint:eslint, yarn run format:staged

chore: exit prerelease, add change log story
  .changeset/better-cooks-sneeze.md
  .changeset/cold-bars-read.md
  .changeset/early-wolves-camp.md
  .changeset/khaki-mails-go.md
  .changeset/plain-cameras-stick.md
  .changeset/pre.json
  .changeset/rare-women-ring.md
  .changeset/solid-taxes-beg.md
  CHANGELOG.md
  lib/reset/reset.css.ts
  lib/stories/changelog.mdx
  package.json
Due: yarn run lint:eslint, yarn run format:staged

Updated styles and tokens
  lib/tokens/tokens.json
Due: yarn run format:staged

A new `tokens.json` has been generated from Figma variables via Supernova.io
  tokens.dark.json
  tokens.light.json
Due: yarn run format:staged

A new `tokens.json` has been generated from Figma variables via Supernova.io
  lib/tokens/tokens.dark.json
  lib/tokens/tokens.light.json
Due: yarn run format:staged

Delete lib/tokens/tokens.json
  lib/tokens/tokens.json
Due: yarn run format:staged

Delete lib/tokens/tokens.light.json
  lib/tokens/tokens.light.json
Due: yarn run format:staged

Delete tokens.dark.json
  tokens.dark.json
Due: yarn run format:staged

Delete tokens.light.json
  tokens.light.json
Due: yarn run format:staged

A new `tokens.json` has been generated from Figma variables via Supernova.io
  lib/tokens/tokens.light.json
Due: yarn run format:staged

Create changeset
  .changeset/swift-wasps-peel.md
Due: yarn run format:staged

Update change description
  CHANGELOG.md
Due: yarn run format:staged

fix: accidentially checked in `changeset version`, resets details so that it will be versioned in CI properly
  .changeset/green-doors-brake.md
  CHANGELOG.md
  package.json
Due: yarn run format:staged

chore(deps): sync peer deps
  .changeset/brave-lions-sniff.md
  package.json
  yarn.lock
Due: yarn run format:staged

feat: add and configure storybook experimental test, use vitest workspace config to support old and new
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/vitest.setup.ts
  lib/test/vitest.setup.ts
  package.json
  vite.config.ts
  vitest.shims.d.ts
  vitest.workspace.ts
  yarn.lock
Due: yarn run lint:eslint, yarn run format:staged

feat: prototype new Box
  lib/components/NewBox1/NewBox.tsx
  lib/components/NewBox1/index.ts
  lib/components/NewBox1/newbox-usage.mdx
  lib/components/NewBox1/newbox.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: merge new Box sprinkles into common sprinkles, organise non-responsive sprinkles, iterates on new Box prop filtering
  lib/components/NewBox1/NewBox.tsx
  lib/components/NewBox1/index.ts
  lib/components/NewBox1/newbox.css.ts
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/styles/sprinkles.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: margin and padding are responsive sprinkles
  lib/styles/sprinkles.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: replace Box code 💥 and start fixing types
  lib/components/Box/Box.stories.tsx
  lib/components/Box/Box.tsx
  lib/components/Box/argTypes.ts
  lib/components/Box/index.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: allow clsx handing within Box, adjusts sprinkles
  lib/components/Box/Box.tsx
  lib/styles/sprinkles.css.ts
Due: yarn run lint:eslint, yarn run format:staged

refactor: new Box in Columns
  lib/components/Columns/Column.css.ts
  lib/components/Columns/Column.tsx
  lib/components/Columns/Columns.stories.tsx
  lib/components/Columns/Columns.tsx
Due: yarn run lint:eslint, yarn run format:staged

refactor: rolling out Box and updated props to Heading
  .storybook/overdriveDecorator.tsx
  lib/components/CheckBox/CheckBox.stories.tsx
  lib/components/DividerLine/DividerLine.stories.tsx
  lib/components/Heading/Heading.stories.tsx
  lib/components/Heading/Heading.tsx
  lib/components/Portal/Portal.stories.tsx
  lib/components/ScrollPane/ScrollPane.stories.tsx
  lib/components/StandardModal/StandardModal.tsx
  lib/components/StickyBox/StickyBox.stories.tsx
  lib/stories/borders.stories.tsx
  lib/stories/icons.stories.tsx
  lib/stories/palette.stories.tsx
  lib/stories/space.stories.tsx
  lib/stories/theme.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: sync up package versions of dev deps
  package.json
Due: yarn run format:staged

chore: yarn lock
  yarn.lock
Due: none

feat: introducing new colour token structure to theme contract, begin css layers
  lib/styles/layers.css.ts
  lib/themes/helpers.ts
  lib/themes/theme.css.ts
  lib/themes/tokens.ts
Due: yarn run lint:eslint, yarn run format:staged
