Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:eslint, yarn run format:staged

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
    - 'yarn run lint:eslint'
    - 'yarn run format:staged'
'*.{md,mdx,json,html,yml}':
    - 'yarn run format:staged'

chore: back to patch release
  .changeset/grumpy-beans-join.md
  .changeset/lucky-sides-fetch.md
Due: yarn run format:staged

feat: allow margin/padding on Text, fix missing my/py Box props
  lib/components/Box/Box.tsx
  lib/components/Text/Text.stories.tsx
  lib/components/Text/Text.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: application of testId on Button
  .changeset/lucky-sides-fetch.md
  lib/components/Button/Button.spec.jsx
  lib/components/Button/Button.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: convert `is` props to `as`
  lib/components/Anchor/Anchor.tsx
  lib/components/Button/Button.stories.tsx
  lib/components/Button/Button.tsx
  lib/components/EditableText/EditableText.tsx
  lib/components/Heading/Heading.tsx
  lib/components/Tabs/Tab.tsx
  lib/components/private/InputBase/withEnhancedInput.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: updates TextLink prop types
  lib/components/EditableText/EditableText.tsx
  lib/components/TextLink/TextLink.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: OrderedList semantic html, misc prop types
  .changeset/beige-beds-remain.md
  .changeset/lazy-donkeys-enter.md
  lib/components/Anchor/Anchor.spec.jsx
  lib/components/Button/Button.spec.jsx
  lib/components/OrderedList/OrderedList.css.ts
  lib/components/OrderedList/OrderedList.tsx
  lib/components/TextBubble/TextBubble.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: syncing up type names and props
  lib/components/Actions/Actions.tsx
  lib/components/Badge/Badge.tsx
  lib/components/Box/Box.tsx
  lib/components/BulletText/BulletText.tsx
  lib/components/ColourInput/ColourInput.tsx
  lib/components/Flyout/Flyout.tsx
  lib/components/HorizontalAutoScroller/HorizontalAutoScroller.tsx
  lib/components/OrderedList/OrderedList.tsx
  lib/components/Section/Section.tsx
  lib/components/SelectInput/SelectInput.tsx
  lib/components/Tabs/Tab.tsx
  lib/components/Text/Text.tsx
  lib/components/TextLink/TextLink.css.ts
  lib/components/TextLink/TextLink.tsx
  lib/types/index.ts
  templates/component/{{pascalCase name}}.tsx.hbs
Due: yarn run lint:eslint, yarn run format:staged

feat: tidy Anchor implementation, misc comments
  lib/components/Alert/Alert.tsx
  lib/components/Anchor/Anchor.css.ts
  lib/components/Anchor/Anchor.tsx
  lib/components/Columns/Columns.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: recreate Stack to use flex for layout, render tweaks, docs comments
  lib/components/Stack/Divider.tsx
  lib/components/Stack/Stack.stories.tsx
  lib/components/Stack/Stack.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: recreate Inline to use flex layout, render tweaks, docs
  lib/components/Inline/Inline.stories.tsx
  lib/components/Inline/Inline.tsx
  lib/styles/sprinkles.css.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: update handlebars templates
  templates/component/stories.tsx.hbs
  templates/component/{{pascalCase name}}.css.ts.hbs
  templates/component/{{pascalCase name}}.spec.jsx.hbs
  templates/component/{{pascalCase name}}.stories.tsx.hbs
  templates/component/{{pascalCase name}}.treat.ts.hbs
  templates/component/{{pascalCase name}}.tsx.hbs
Due: none

chore: changeset
  .changeset/grumpy-beans-join.md
  .changeset/lucky-sides-fetch.md
  .changeset/swift-foxes-make.md
  CHANGELOG.md
Due: yarn run format:staged

Fix handlebars template
  templates/component/{{pascalCase name}}.tsx.hbs
Due: none

feat: agent draft
  .changeset/fifty-guests-jog.md
  lib/components/Flex/Flex.css.ts
  lib/components/Flex/Flex.stories.tsx
  lib/components/Flex/Flex.tsx
  lib/components/Flex/index.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: wip Flex
  lib/components/Flex/Flex.css.ts
  lib/components/Flex/Flex.stories.tsx
  lib/components/Flex/Flex.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore(deps): sync package.json
  package.json
  yarn.lock
Due: yarn run format:staged

feat: refactors textStyles to styledText, replaces typography recipe with unified function, consistent default values
  lib/components/Text/Text.stories.tsx
  lib/components/Text/Text.tsx
  lib/components/Text/index.ts
  lib/components/Text/textStyles.ts
  lib/styles/index.ts
  lib/styles/typography.css.ts
  lib/styles/typography.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: refactors Heading implemention to render element directly, fixes prop defaults
  lib/components/Heading/Heading.stories.tsx
  lib/components/Heading/Heading.tsx
  lib/components/Text/Text.tsx
  lib/styles/elementReset.css.ts
  lib/styles/typography.ts
Due: yarn run lint:eslint, yarn run format:staged

refactor: rename style function consistently
  lib/components/Anchor/Anchor.tsx
  lib/components/Box/Box.tsx
  lib/components/Button/Button.tsx
  lib/components/DropDown/DropDownOption.tsx
  lib/components/EditableText/EditableText.tsx
  lib/components/Heading/Heading.tsx
  lib/components/Icon/Icon.tsx
  lib/components/Inline/Inline.tsx
  lib/components/OrderedList/OrderedList.tsx
  lib/components/Pagination/Bubble.tsx
  lib/components/Pagination/Pagination.tsx
  lib/components/ProgressSpinner/ProgressSpinner.tsx
  lib/components/StandardModal/StandardModal.tsx
  lib/components/Stepper/Stepper.tsx
  lib/components/Switch/Switch.tsx
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.tsx
  lib/components/Text/Text.tsx
  lib/components/Text/index.ts
  lib/components/TextLink/TextLink.tsx
  lib/components/private/CheckableBase/CheckableBase.tsx
  lib/components/private/InputBase/HintText.tsx
  lib/components/private/InputBase/withEnhancedInput.tsx
  lib/index.ts
  lib/styles/index.ts
  lib/styles/typography.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: adds Styling doc, updates changelog references
  CHANGELOG.md
  lib/stories/styling.mdx
Due: yarn run format:staged

test: snapshots
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
  lib/components/Anchor/__snapshots__/Anchor.spec.jsx.snap
  lib/components/BulletText/__snapshots__/BulletText.spec.jsx.snap
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
  lib/components/CheckBox/__snapshots__/CheckBox.spec.jsx.snap
  lib/components/ColourInput/__snapshots__/ColourInput.spec.jsx.snap
  lib/components/DateInput/__snapshots__/DateInput.spec.jsx.snap
  lib/components/DropDown/__snapshots__/DropDown.spec.jsx.snap
  lib/components/EditableText/__snapshots__/EditableText.spec.jsx.snap
  lib/components/HorizontalAutoScroller/__snapshots__/HorizontalAutoScroller.spec.jsx.snap
  lib/components/Inline/__snapshots__/Inline.spec.jsx.snap
  lib/components/Meta/__snapshots__/Meta.spec.jsx.snap
  lib/components/NumberBubble/__snapshots__/NumberBubble.spec.jsx.snap
  lib/components/NumberInput/__snapshots__/NumberInput.spec.jsx.snap
  lib/components/Pagination/__snapshots__/Pagination.spec.jsx.snap
  lib/components/ProgressBarGroup/__snapshots__/ProgressBarGroup.spec.jsx.snap
  lib/components/Radio/__snapshots__/Radio.spec.jsx.snap
  lib/components/SelectInput/__snapshots__/SelectInput.spec.jsx.snap
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
  lib/components/StarRating/__snapshots__/StarRating.spec.jsx.snap
  lib/components/Stepper/__snapshots__/Stepper.spec.jsx.snap
  lib/components/Switch/__snapshots__/Switch.spec.jsx.snap
  lib/components/Table/__snapshots__/Table.spec.jsx.snap
  lib/components/Tabs/__snapshots__/Tabs.spec.jsx.snap
  lib/components/TextAreaInput/__snapshots__/TextAreaInput.spec.jsx.snap
  lib/components/TextBubble/__snapshots__/TextBubble.spec.jsx.snap
  lib/components/TextInput/__snapshots__/TextInput.spec.jsx.snap
  lib/components/Tooltip/__snapshots__/Tooltip.spec.jsx.snap
Due: none

fix: typography prop vs defaults handling
  lib/components/Table/__snapshots__/Table.spec.jsx.snap
  lib/components/Text/Text.tsx
  lib/styles/typography.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: table head cell text alignment
  lib/components/Table/TableHeadCell.tsx
  lib/components/Table/__snapshots__/Table.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/pink-banks-wear.md
  package.json
Due: yarn run format:staged

feat: develop FlexStack and FlexRow with specialised props, stories for both
  lib/components/Flex/Flex.css.ts
  lib/components/Flex/Flex.stories.tsx
  lib/components/Flex/Flex.tsx
  lib/components/Flex/FlexRow.stories.tsx
  lib/components/Flex/FlexRow.tsx
  lib/components/Flex/FlexStack.tsx
  lib/components/Flex/index.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: componentStyles incorrectly handled styles without `as` prop, created spec
  lib/styles/componentStyles.spec.ts
  lib/styles/componentStyles.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: refactors Tooltip internals to be a hook, adds TooltipInteractive with legacy handling for inputs or buttons wrapped with Tooltip
  .changeset/eleven-houses-rhyme.md
  lib/components/Tooltip/Tooltip.spec.tsx
  lib/components/Tooltip/Tooltip.tsx
  lib/components/Tooltip/index.ts
  lib/hooks/index.ts
  lib/hooks/useTooltip/index.ts
  lib/hooks/useTooltip/useTooltip.spec.tsx
  lib/hooks/useTooltip/useTooltip.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: useTooltip hook is refined, adds unit test, updates Tooltip spec and stories to test TooltipOnComponent
  .changeset/eleven-houses-rhyme.md
  lib/components/Tooltip/Tooltip.spec.tsx
  lib/components/Tooltip/Tooltip.stories.tsx
  lib/components/Tooltip/Tooltip.tsx
  lib/components/Tooltip/index.ts
  lib/hooks/useTooltip/index.ts
  lib/hooks/useTooltip/useTooltip.spec.tsx
  lib/hooks/useTooltip/useTooltip.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: more events handled in Button
  .changeset/gold-hotels-follow.md
  lib/components/Button/Button.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: Anchor focus outline
  .changeset/sixty-snakes-like.md
  lib/components/Anchor/Anchor.css.ts
  lib/components/Anchor/Anchor.tsx
Due: yarn run lint:eslint, yarn run format:staged

test: snapshots
  lib/components/Anchor/__snapshots__/Anchor.spec.jsx.snap
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
  lib/components/Tooltip/__snapshots__/Tooltip.spec.tsx.snap
Due: none

chore: update copilot instructions and add prompts
  .github/copilot-instructions.md
  .github/prompts/component-testing.prompt.md
  .github/prompts/task-completion.prompt.md
Due: yarn run format:staged

chore: configure dist to include comments for consumer reference
  lib/.babelrc.json
Due: yarn run format:staged

feat: wip unifying Tooltip variants
  lib/components/Tooltip/Tooltip.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: critical componentStyle logic bug
  lib/styles/componentStyles.ts
Due: yarn run lint:eslint, yarn run format:staged

test: unit test componentStyles
  lib/components/Anchor/__snapshots__/Anchor.spec.jsx.snap
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
  lib/styles/componentStyles.spec.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/sour-baboons-flow.md
Due: yarn run format:staged
