Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:eslint, yarn run format:staged

test: snaps
  lib/components/CheckBox/__snapshots__/CheckBox.spec.jsx.snap
  lib/components/Radio/__snapshots__/Radio.spec.jsx.snap
Due: none

Tabs visual uplift (#1069)
  lib/components/AutoSuggest/AutoSuggest.css.ts
  lib/components/CheckBox/__snapshots__/CheckBox.spec.jsx.snap
  lib/components/MinimalModal/MinimalModal.css.ts
  lib/components/Radio/__snapshots__/Radio.spec.jsx.snap
  lib/components/StandardModal/StandardModal.css.ts
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.css.ts
  lib/stories/helpers/styles.css.ts
  lib/stories/theme.stories.tsx
  lib/styles/stack.css.ts
Due: yarn run lint:eslint, yarn run format:staged

Fix excessive CSS generated by sprinkles (#1066)
  .changeset/salty-parks-sort.md
  lib/components/Badge/Badge.css.ts
  lib/components/Badge/Badge.tsx
  lib/components/Badge/__snapshots__/Badge.spec.jsx.snap
  lib/components/DateTimePicker/CalendarButton.tsx
  lib/components/DateTimePicker/CalendarGrid.tsx
  lib/components/DateTimePicker/DateTimePicker.css.ts
  lib/components/DateTimePicker/DateTimePicker.tsx
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/OptionGrid/OptionGrid.tsx
  lib/components/OptionList/OptionList.css.ts
  lib/components/OptionList/OptionList.tsx
  lib/components/OptionList/OptionListItem.tsx
  lib/components/SearchBar/SearchBar.css.ts
  lib/components/SearchBar/SearchBar.stories.tsx
  lib/components/SearchBar/SearchBar.tsx
  lib/stories/borders.stories.tsx
  lib/stories/helpers/index.tsx
  lib/stories/helpers/sprinkles.css.ts
  lib/stories/icons.stories.tsx
  lib/stories/palette.stories.tsx
  lib/stories/space.stories.tsx
  lib/styles/focusOutline.css.ts
  lib/styles/sprinkles.css.ts
  lib/styles/stack.css.ts
  lib/styles/typography.css.ts
  lib/utils/css.ts
  lib/utils/dataAttrs.ts
  package.json
Due: yarn run lint:eslint, yarn run format:staged

chore: Tab accessibility improvements
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.tsx
  lib/components/Tabs/TabPane.css.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: remove tabIndex that has no effect
  lib/components/Button/Button.tsx
Due: yarn run lint:eslint, yarn run format:staged

test: snaps
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/Tabs/__snapshots__/Tabs.spec.jsx.snap
Due: none

deploy: 66e4dadabfd1cf76685210f2f429887e6e072ae2
  assets/Color-YHDXOIA2-2FTtBvLg.js
  assets/Color-YHDXOIA2-BiAgsGIK.js
  assets/DocsRenderer-CFRXHY34-DLkyAM9M.js
  assets/DocsRenderer-CFRXHY34-aHRxp_XB.js
  assets/borders.stories-pvHk-5jK.js
  assets/borders.stories-x-0uCOby.js
  assets/entry-preview-RR6jaVC3.js
  assets/icons.stories-Dub_EKXV.js
  assets/icons.stories-KO4tNJU_.js
  assets/iframe-OjSlPz81.js
  assets/index-BM5s1Ea_.js
  assets/index-BmfZ17WL.js
  assets/index-idOuo9pz.js
  assets/palette.stories-B0l6hNYo.js
  assets/palette.stories-BKkV93T5.js
  assets/preview-BfenMVAy.js
  assets/preview-CVv9lE4N.js
  assets/preview-ChaphDbC.js
  assets/preview-DXxXg027.js
  assets/space.stories-BDYJ7lse.js
  assets/space.stories-D7DMvtcL.js
  assets/theme.stories-CnueoDJv.js
  assets/theme.stories-DKFd0pSq.js
  assets/welcome-DAUTfkds.js
  iframe.html
  project.json
Due: yarn run lint:eslint, yarn run format:staged

chore(deps): bump storybook deps
  package.json
  yarn.lock
Due: yarn run format:staged

Tabs visual uplift (#1071)
  lib/components/Button/Button.tsx
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.tsx
  lib/components/Tabs/TabPane.css.ts
  lib/components/Tabs/__snapshots__/Tabs.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

chore(deps): sync package.json, snap
  lib/components/Switch/__snapshots__/Switch.spec.jsx.snap
  package.json
  yarn.lock
Due: yarn run format:staged

chore(deps): sync package.json
  package.json
  yarn.lock
Due: yarn run format:staged

fix: focusOutline after merge
  lib/components/Button/Button.css.ts
  lib/components/Switch/Switch.css.ts
  lib/components/Switch/Switch.tsx
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/TabPane.css.ts
  lib/components/private/CheckableBase/CheckableBase.css.ts
  lib/styles/focusOutline.css.ts
Due: yarn run lint:eslint, yarn run format:staged

test: snaps
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
  lib/components/Anchor/__snapshots__/Anchor.spec.jsx.snap
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
  lib/components/DropDown/__snapshots__/DropDown.spec.jsx.snap
  lib/components/HorizontalAutoScroller/__snapshots__/HorizontalAutoScroller.spec.jsx.snap
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
  lib/components/Switch/__snapshots__/Switch.spec.jsx.snap
Due: none

chore: format
  package.json
Due: yarn run format:staged

chore: updates readme
  .prettierignore
  readme.md
Due: yarn run format:staged

feat: InputBase visual uplift
  lib/components/ProgressSpinner/ProgressSpinner.css.ts
  lib/components/private/InputBase/HintText.tsx
  lib/components/private/InputBase/InputState.css.ts
  lib/components/private/InputBase/NotchedBase.css.ts
  lib/components/private/InputBase/withEnhancedInput.css.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: syntax
  lib/components/NumberInput/NumberInput.tsx
  lib/components/NumberInput/useNumberInputBehaviours.ts
  lib/components/TextInput/TextInput.tsx
  lib/components/private/InputBase/HintText.tsx
  lib/components/private/InputBase/NotchedBase.tsx
  lib/components/private/InputBase/withEnhancedInput.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: improve stories
  lib/components/NumberInput/NumberInput.stories.tsx
  lib/components/TextInput/TextInput.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: tweak field stories
  lib/components/ColourInput/ColourInput.stories.tsx
  lib/components/DateInput/DateInput.stories.tsx
  lib/components/NumberInput/NumberInput.stories.tsx
  lib/components/TextAreaInput/TextAreaInput.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

test: snaps
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
  lib/components/ColourInput/__snapshots__/ColourInput.spec.jsx.snap
  lib/components/DateInput/__snapshots__/DateInput.spec.jsx.snap
  lib/components/NumberInput/__snapshots__/NumberInput.spec.jsx.snap
  lib/components/SelectInput/__snapshots__/SelectInput.spec.jsx.snap
  lib/components/TextAreaInput/__snapshots__/TextAreaInput.spec.jsx.snap
  lib/components/TextInput/__snapshots__/TextInput.spec.jsx.snap
  lib/components/private/InputBase/__snapshots__/NotchedBase.spec.jsx.snap
Due: none

feat: tweak input stories
  lib/components/AutoSuggest/AutoSuggest.stories.tsx
  lib/components/ColourInput/ColourInput.stories.tsx
  lib/components/DateInput/DateInput.stories.tsx
  lib/components/SelectInput/SelectInput.stories.tsx
  lib/components/TextAreaInput/TextAreaInput.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: stories
  lib/components/AutoSuggest/AutoSuggest.stories.tsx
  lib/components/SelectInput/SelectInput.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

Input fields visual uplift (#1072)
  .prettierignore
  lib/components/AutoSuggest/AutoSuggest.stories.tsx
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
  lib/components/ColourInput/ColourInput.stories.tsx
  lib/components/ColourInput/__snapshots__/ColourInput.spec.jsx.snap
  lib/components/DateInput/DateInput.stories.tsx
  lib/components/DateInput/__snapshots__/DateInput.spec.jsx.snap
  lib/components/NumberInput/NumberInput.stories.tsx
  lib/components/NumberInput/NumberInput.tsx
  lib/components/NumberInput/__snapshots__/NumberInput.spec.jsx.snap
  lib/components/NumberInput/useNumberInputBehaviours.ts
  lib/components/ProgressSpinner/ProgressSpinner.css.ts
  lib/components/SelectInput/SelectInput.stories.tsx
  lib/components/SelectInput/__snapshots__/SelectInput.spec.jsx.snap
  lib/components/TextAreaInput/TextAreaInput.stories.tsx
  lib/components/TextAreaInput/__snapshots__/TextAreaInput.spec.jsx.snap
  lib/components/TextInput/TextInput.stories.tsx
  lib/components/TextInput/TextInput.tsx
  lib/components/TextInput/__snapshots__/TextInput.spec.jsx.snap
  lib/components/private/InputBase/HintText.tsx
  lib/components/private/InputBase/InputState.css.ts
  lib/components/private/InputBase/NotchedBase.css.ts
  lib/components/private/InputBase/NotchedBase.tsx
  lib/components/private/InputBase/__snapshots__/NotchedBase.spec.jsx.snap
  lib/components/private/InputBase/withEnhancedInput.css.ts
  lib/components/private/InputBase/withEnhancedInput.tsx
  readme.md
Due: yarn run lint:eslint, yarn run format:staged

fix: get rid of some tsc errors, replace deprecated props
  lib/components/AutoSuggest/AutoSuggest.tsx
  lib/components/HorizontalAutoScroller/useHorizontalAutoScroller.ts
  lib/components/Image/SimpleImage.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: removes more rarely needed eslint rules
  eslint.config.mjs
  lib/components/AutoSuggest/AutoSuggest.tsx
  lib/components/EditableText/EditableText.tsx
  lib/components/HorizontalAutoScroller/HorizontalAutoScroller.tsx
  lib/components/Modal/Modal.tsx
  lib/hooks/useMedia/useMedia.ts
  lib/utils/index.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: AutoSuggest flyout visual uplift, tweak stories
  lib/components/AutoSuggest/AutoSuggest.css.ts
  lib/components/AutoSuggest/AutoSuggest.tsx
  lib/components/SelectInput/SelectInput.stories.tsx
  lib/components/TextInput/TextInput.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/warm-cases-peel.md
Due: yarn run format:staged

Enter Prerelease and Version Packages
  .changeset/config.json
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: yarn run format:staged

feat: refactors tab style into recipes
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/TabList.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: adds `appearance` prop to Tabs + context
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.tsx
  lib/components/Tabs/Tabs.stories.tsx
  lib/components/Tabs/Tabs.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: removes Tab margin
  lib/components/Tabs/Tab.tsx
  lib/styles/focusOutline.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: Tabs styling for `pill` with indicators
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.tsx
  lib/components/Tabs/Tabs.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

deploy: b56d2205e71546412031c1cf385c4c945a44b733
  project.json
Due: yarn run format:staged

chore(deps): bump Storybook and other deps
  package.json
  yarn.lock
Due: yarn run format:staged

fix: Icon uses `span` element by default
  lib/components/Icon/Icon.tsx
Due: yarn run lint:eslint, yarn run format:staged

Path conditions:
  yarn run lint:eslint: any of: *.{js,jsx,ts,tsx}
  yarn run format:staged: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx,json,html,yml})
