Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:eslint, yarn run format:staged

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
    - 'yarn run lint:eslint'
    - 'yarn run format:staged'
'*.{md,mdx,json,html,yml}':
    - 'yarn run format:staged'

chore: update Storybook v9, addon-tag-badges
  .storybook/main.ts
  .storybook/manager.ts
  package.json
  yarn.lock
Due: yarn run lint:eslint, yarn run format:staged

chore: large set up minor version bumps
  package.json
  yarn.lock
Due: yarn run format:staged

chore: correct instructions
  .github/copilot-instructions.md
Due: yarn run format:staged

Add copilot instructions (#1163)
  .github/copilot-instructions.md
Due: yarn run format:staged

chore: changeset
  .changeset/swift-mails-wonder.md
Due: yarn run format:staged

feat: simplify token mapping in sprinkles
  lib/styles/sprinkles.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: refactor useBoxStyles to use sprinkles directly
  lib/components/Box/useBoxStyles.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: Text separates `color` and `colour` props
  lib/components/Text/Text.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: useBoxStyles logic is replicated much more concisely with elementReset
  lib/components/Box/index.ts
  lib/components/Box/newBox/boxStyles.ts
  lib/components/Box/useBoxStyles.css.ts
  lib/components/Box/useBoxStyles.ts
  lib/styles/element.css.ts
  lib/styles/elementReset.ts
  lib/styles/elementStyles.ts
  lib/styles/index.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: Box uses componentStyles directly
  lib/components/Box/Box.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: update affected `is` props
  lib/components/Box/newBox/boxStyles.ts
  lib/components/Columns/Column.tsx
  lib/components/Columns/Columns.tsx
  lib/components/DropDown/DropDownOption.tsx
  lib/components/Inline/Inline.tsx
  lib/components/LoadingBox/LoadingBox.tsx
  lib/components/Stack/Stack.tsx
  lib/components/Tabs/Tab.tsx
  lib/components/VisuallyHidden/VisuallyHidden.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: expands typography recipe and centralises props, refines typography sprinkes, removes useTextStyles
  lib/components/Text/index.ts
  lib/components/Text/textStyles.ts
  lib/components/Text/useTextStyles.css.ts
  lib/components/Text/useTextStyles.ts
  lib/styles/sprinkles.css.ts
  lib/styles/typography.css.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: removes affected `is` props, updates to lib exports for styles
  .changeset/grumpy-beans-join.md
  .changeset/lucky-sides-fetch.md
  lib/components/Button/Button.tsx
  lib/components/EditableText/EditableText.tsx
  lib/components/OrderedList/OrderedList.tsx
  lib/components/Pagination/Bubble.tsx
  lib/components/Tabs/Tab.tsx
  lib/components/TextLink/TextLink.stories.tsx
  lib/components/TextLink/TextLink.tsx
  lib/index.ts
  lib/styles/index.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: align Text structure to textStyles
  lib/components/Text/Text.stories.tsx
  lib/components/Text/Text.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: missing `unset` in typography colours, misc props and sprinkles calls
  lib/components/Alert/Alert.tsx
  lib/components/Anchor/Anchor.tsx
  lib/components/Button/Button.spec.jsx
  lib/components/Heading/Heading.stories.tsx
  lib/components/Heading/Heading.tsx
  lib/styles/typography.css.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: typography handles `color` in order default to legacy `neutral`
  lib/components/Box/Box.tsx
  lib/components/Text/Text.tsx
  lib/components/Text/textStyles.ts
  lib/styles/typography.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: more consistent testId prop and applies odComponent prop
  lib/components/Anchor/Anchor.stories.tsx
  lib/components/Anchor/Anchor.tsx
  lib/components/Badge/Badge.tsx
  lib/components/Box/Box.tsx
  lib/components/BulletList/BulletList.tsx
  lib/components/Button/Button.tsx
  lib/components/Columns/Columns.tsx
  lib/components/DateTimePicker/DateTimePicker.tsx
  lib/components/DividerLine/DividerLine.tsx
  lib/components/EditableText/EditableText.tsx
  lib/components/Icon/Icon.tsx
  lib/components/IntentStripe/IntentStripe.tsx
  lib/components/LinearProgressIndicator/LinearProgressIndicator.tsx
  lib/components/LoadingBox/LoadingBox.tsx
  lib/components/NumberBubble/NumberBubble.tsx
  lib/components/OptionGrid/OptionGrid.tsx
  lib/components/OptionList/OptionList.tsx
  lib/components/OrderedList/OrderedList.tsx
  lib/components/Positioner/Positioner.tsx
  lib/components/ProgressBar/ProgressBar.tsx
  lib/components/ProgressBarGroup/ProgressBarGroup.tsx
  lib/components/ProgressSpinner/ProgressSpinner.tsx
  lib/components/ScrollPane/ScrollPane.tsx
  lib/components/SearchBar/SearchBar.tsx
  lib/components/StarRating/StarRating.tsx
  lib/components/Stepper/Stepper.tsx
  lib/components/StickyBox/StickyBox.tsx
  lib/components/Switch/Switch.tsx
  lib/components/Table/Table.tsx
  lib/components/Text/Text.tsx
  lib/components/TextBubble/TextBubble.tsx
  lib/components/VisuallyHidden/VisuallyHidden.tsx
  lib/types/index.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: Alert icon colour
  lib/components/Alert/Alert.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: StandardModal header justification
  lib/components/StandardModal/StandardModal.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/cool-teeth-crash.md
Due: yarn run format:staged

test: snapshot
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
Due: none

chore: allow chormatic on StandardModal
  lib/components/StandardModal/StandardModal.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: update chromatic decorator to only render modal once
  .storybook/overdriveDecorator.tsx
  lib/components/StandardModal/StandardModal.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore(deps): also bump chromatic major
  package.json
  yarn.lock
Due: yarn run format:staged

feat: always wrap the chilren in a span to apply keyboard interaction consistently
  lib/components/Tooltip/Tooltip.stories.tsx
  lib/components/Tooltip/Tooltip.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: adds testId to tooltip, tests tooltip interactively in storybook
  lib/components/Tooltip/Tooltip.stories.tsx
  lib/components/Tooltip/Tooltip.tsx
Due: yarn run lint:eslint, yarn run format:staged

test: tooltip spec update
  lib/components/Tooltip/Tooltip.spec.jsx
  lib/components/Tooltip/__snapshots__/Tooltip.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

fix: StandardModal header justification (#1172)
  .changeset/cool-teeth-crash.md
  .storybook/overdriveDecorator.tsx
  lib/components/StandardModal/StandardModal.stories.tsx
  lib/components/StandardModal/StandardModal.tsx
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

Tooltip: Allow multiple children without manual Box wrapping (#1167)
  .changeset/kind-lamps-help.md
  lib/components/Tooltip/Tooltip.spec.jsx
  lib/components/Tooltip/Tooltip.stories.tsx
  lib/components/Tooltip/Tooltip.tsx
  lib/components/Tooltip/__snapshots__/Tooltip.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

feat: streamlines componentStyles util functions, updates through to useBox
  lib/components/Box/index.ts
  lib/components/Box/newBox/boxStyles.ts
  lib/components/Box/newBox/useBox.ts
  lib/styles/componentStyles.ts
  lib/styles/elementReset.css.ts
  lib/styles/index.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: boxStyles no longer separate for useBox
  lib/components/Anchor/Anchor.tsx
  lib/components/Box/Box.tsx
  lib/components/Box/newBox/boxStyles.ts
  lib/components/Box/newBox/useBox.ts
  lib/components/private/CheckableBase/CheckableBase.tsx
  lib/styles/typography.css.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: types cleanup, changeset md
  .changeset/kind-lamps-help.md
  .changeset/lucky-sides-fetch.md
  lib/styles/index.ts
  lib/styles/sprinkles.css.ts
  lib/styles/typography.css.ts
  lib/utils/object.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: consistent `testid` data attribute
  lib/components/Anchor/Anchor.stories.tsx
  lib/components/Anchor/Anchor.tsx
  lib/components/Box/Box.spec.tsx
  lib/components/Box/Box.tsx
  lib/components/Box/newBox/useBox.ts
  lib/components/DateTimePicker/DateTimePicker.stories.tsx
  lib/components/DateTimePicker/DateTimePicker.tsx
  lib/components/Heading/Heading.stories.tsx
  lib/components/OptionGrid/OptionGrid.stories.tsx
  lib/components/OptionGrid/OptionGrid.tsx
  lib/components/OptionList/OptionList.stories.tsx
  lib/components/OptionList/OptionList.tsx
  lib/components/SearchBar/SearchBar.tsx
  lib/components/StarRating/StarRating.spec.jsx
  lib/components/StarRating/__snapshots__/StarRating.spec.jsx.snap
  lib/components/Text/Text.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset to minor, updated tags
  .changeset/grumpy-beans-join.md
  .changeset/lucky-sides-fetch.md
  lib/components/CheckBox/CheckBox.stories.tsx
  lib/components/Radio/Radio.stories.tsx
  lib/components/Switch/Switch.stories.tsx
  lib/components/Tabs/Tabs.stories.tsx
  lib/components/Tooltip/Tooltip.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: bump deps
  package.json
  yarn.lock
Due: yarn run format:staged
