Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format:staged, yarn run lint:eslint

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
    - 'yarn run format:staged'
    - 'yarn run lint:eslint'
'*.{md,mdx,json,html,yml}':
    - 'yarn run format:staged'

chore(deps): align @internationalized/date and react-stately with react-aria nested versions
  package.json
  yarn.lock
Due: yarn run format:staged

fix(DataTable): address Copilot PR review feedback
  .changeset/data-table-component.md
  lib/components/DataTable/index.ts
  lib/components/Table/TableHeadCell.tsx
  lib/components/Table/__snapshots__/Table.spec.jsx.snap
  lib/components/index.ts
Due: yarn run format:staged, yarn run lint:eslint

feat(TableRow): add staggerIndex prop for opt-in entrance animation
  .changeset/data-table-component.md
  lib/components/DataTable/DataTable.css.ts
  lib/components/DataTable/DataTable.stories.tsx
  lib/components/Table/TableRow.css.ts
  lib/components/Table/TableRow.tsx
Due: yarn run format:staged, yarn run lint:eslint

docs(TableRow): add Storybook docs page for staggerIndex prop
  lib/components/Table/TableRow.stories.tsx
  lib/components/Table/TableRow.tsx
Due: yarn run format:staged, yarn run lint:eslint

fix(DataTable): guard sticky-header scroll-timeline with @supports; expand changeset
  .changeset/data-table-component.md
  lib/components/DataTable/DataTable.css.ts
Due: yarn run format:staged, yarn run lint:eslint

feat(DataTable): add responsive data table component (#1322)
  .changeset/data-table-component.md
  lib/components/DataTable/DataTable.css.ts
  lib/components/DataTable/DataTable.spec.tsx
  lib/components/DataTable/DataTable.stories.tsx
  lib/components/DataTable/DataTable.tsx
  lib/components/DataTable/index.ts
  lib/components/EditableText/EditableText.css.ts
  lib/components/FillHeightBox/FillHeightBox.stories.tsx
  lib/components/ScrollPane/ScrollPane.css.ts
  lib/components/ScrollPane/ScrollPane.tsx
  lib/components/StickyBox/StickyBox.stories.tsx
  lib/components/Table/Table.spec.jsx
  lib/components/Table/Table.tsx
  lib/components/Table/TableCell.tsx
  lib/components/Table/TableHeadCell.css.ts
  lib/components/Table/TableHeadCell.tsx
  lib/components/Table/TableRow.css.ts
  lib/components/Table/TableRow.stories.tsx
  lib/components/Table/TableRow.tsx
  lib/components/Table/TableRowGroup.tsx
  lib/components/Table/__snapshots__/Table.spec.jsx.snap
  lib/components/index.ts
  package.json
  yarn.lock
Due: yarn run format:staged, yarn run lint:eslint

ci: pin npm to 11.6.2 for OIDC publish step
  .github/workflows/prerelease.yml
  .github/workflows/publish.yml
Due: yarn run format:staged

ci: configure git identity in publish workflow so release tags are created
  .github/workflows/publish.yml
Due: yarn run format:staged

ci: configure git identity in publish workflow so release tags are created (#1328)
  .github/workflows/publish.yml
Due: yarn run format:staged

feat: expose per-component default-export companions via exports map
  .changeset/expose-component-default-exports.md
  package.json
Due: yarn run format:staged

feat: expose per-component default-export companions via exports map (#1329)
  .changeset/expose-component-default-exports.md
  package.json
Due: yarn run format:staged

feat(tokens): switch link colours from blue to green to match the AutoGuru brand
  .changeset/textlink-colour-green.md
  lib/themes/base/tokens.ts
Due: yarn run format:staged, yarn run lint:eslint

fix(tokens): drop now-unused overdriveTokens import after switching link tokens to direct colourMap refs
  lib/themes/base/tokens.ts
Due: yarn run format:staged, yarn run lint:eslint

feat(tokens): change link colours from blue to green (#1331)
  .changeset/textlink-colour-green.md
  lib/themes/base/tokens.ts
Due: yarn run format:staged, yarn run lint:eslint

fix: mark hooks as side-effectful to avoid Rolldown deferred-init bug
  .changeset/hooks-side-effects-rolldown.md
  package.json
Due: yarn run format:staged

fix: mark hooks as side-effectful to avoid Rolldown deferred-init bug (#1333)
  .changeset/hooks-side-effects-rolldown.md
  package.json
Due: yarn run format:staged

fix(AG-19060): import I18nProvider from react-aria umbrella
  .changeset/overdriveprovider-react-aria-i18n-import.md
  lib/components/OverdriveProvider/OverdriveProvider.tsx
Due: yarn run format:staged, yarn run lint:eslint

fix(AG-19060): import I18nProvider from react-aria umbrella (#1335)
  .changeset/overdriveprovider-react-aria-i18n-import.md
  lib/components/OverdriveProvider/OverdriveProvider.tsx
Due: yarn run format:staged, yarn run lint:eslint

feat: ensureLayerOrder so the ordering is correct regardless of how webpack chunks and loads the files
  lib/components/Button/Button.css.ts
  lib/components/Calendar/Calendar.css.ts
  lib/components/Columns/Column.css.ts
  lib/components/DateInput/DateInput.css.ts
  lib/components/DatePicker/DatePicker.css.ts
  lib/components/DateTimeField/DateTimeField.css.ts
  lib/components/EditableText/EditableText.css.ts
  lib/components/MarkdownRenderer/MarkdownRenderer.css.ts
  lib/components/MarkdownRenderer/components/MarkdownBlockquote.css.ts
  lib/components/MarkdownRenderer/components/MarkdownCodeBlock.css.ts
  lib/components/MarkdownRenderer/components/MarkdownEmphasis.css.ts
  lib/components/MarkdownRenderer/components/MarkdownImage.css.ts
  lib/components/MarkdownRenderer/components/MarkdownInlineCode.css.ts
  lib/components/MarkdownRenderer/components/MarkdownStrikethrough.css.ts
  lib/components/MarkdownRenderer/components/MarkdownTable.css.ts
  lib/components/NumberBubble/NumberBubble.css.ts
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/OptionList/OptionList.css.ts
  lib/components/Popover/Popover.css.ts
  lib/components/SearchBar/SearchBar.css.ts
  lib/components/Slider/Slider.css.ts
  lib/components/Stack/Stack.css.ts
  lib/components/Switch/Switch.css.ts
  lib/components/ToggleButtons/ToggleButtons.css.ts
  lib/styles/index.ts
  lib/styles/layers.css.ts
Due: yarn run format:staged, yarn run lint:eslint

feat(AG-19154): ensure CSS layer order in each component's CSS output
  .changeset/ensure-layer-order.md
  lib/components/Button/Button.css.ts
  lib/components/Calendar/Calendar.css.ts
  lib/components/Columns/Column.css.ts
  lib/components/DateInput/DateInput.css.ts
  lib/components/DatePicker/DatePicker.css.ts
  lib/components/DateTimeField/DateTimeField.css.ts
  lib/components/EditableText/EditableText.css.ts
  lib/components/MarkdownRenderer/MarkdownRenderer.css.ts
  lib/components/MarkdownRenderer/components/MarkdownBlockquote.css.ts
  lib/components/MarkdownRenderer/components/MarkdownCodeBlock.css.ts
  lib/components/MarkdownRenderer/components/MarkdownEmphasis.css.ts
  lib/components/MarkdownRenderer/components/MarkdownImage.css.ts
  lib/components/MarkdownRenderer/components/MarkdownInlineCode.css.ts
  lib/components/MarkdownRenderer/components/MarkdownStrikethrough.css.ts
  lib/components/MarkdownRenderer/components/MarkdownTable.css.ts
  lib/components/NumberBubble/NumberBubble.css.ts
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/OptionList/OptionList.css.ts
  lib/components/Popover/Popover.css.ts
  lib/components/SearchBar/SearchBar.css.ts
  lib/components/Slider/Slider.css.ts
  lib/components/Stack/Stack.css.ts
  lib/components/Switch/Switch.css.ts
  lib/components/ToggleButtons/ToggleButtons.css.ts
  lib/styles/index.ts
  lib/styles/layers.css.ts
Due: yarn run format:staged, yarn run lint:eslint

feat(AG-19154): ensure CSS layer order across bundler chunks (#1342)
  .changeset/ensure-layer-order.md
  lib/components/Button/Button.css.ts
  lib/components/Calendar/Calendar.css.ts
  lib/components/Columns/Column.css.ts
  lib/components/DateInput/DateInput.css.ts
  lib/components/DatePicker/DatePicker.css.ts
  lib/components/DateTimeField/DateTimeField.css.ts
  lib/components/EditableText/EditableText.css.ts
  lib/components/MarkdownRenderer/MarkdownRenderer.css.ts
  lib/components/MarkdownRenderer/components/MarkdownBlockquote.css.ts
  lib/components/MarkdownRenderer/components/MarkdownCodeBlock.css.ts
  lib/components/MarkdownRenderer/components/MarkdownEmphasis.css.ts
  lib/components/MarkdownRenderer/components/MarkdownImage.css.ts
  lib/components/MarkdownRenderer/components/MarkdownInlineCode.css.ts
  lib/components/MarkdownRenderer/components/MarkdownStrikethrough.css.ts
  lib/components/MarkdownRenderer/components/MarkdownTable.css.ts
  lib/components/NumberBubble/NumberBubble.css.ts
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/OptionList/OptionList.css.ts
  lib/components/Popover/Popover.css.ts
  lib/components/SearchBar/SearchBar.css.ts
  lib/components/Slider/Slider.css.ts
  lib/components/Stack/Stack.css.ts
  lib/components/Switch/Switch.css.ts
  lib/components/ToggleButtons/ToggleButtons.css.ts
  lib/styles/index.ts
  lib/styles/layers.css.ts
Due: yarn run format:staged, yarn run lint:eslint

feat: align theme with Design System 2026 palette and type
  .storybook/ag-theme.ts
  figma-design-system-2026-notes.md
  lib/components/BulletText/BulletText.stories.tsx
  lib/stories/helpers/styles.css.ts
  lib/stories/palette.stories.tsx
  lib/styles/global/fonts.css.ts
  lib/themes/base/colours.ts
  lib/themes/base/tokens.ts
  lib/themes/neutral/tokens.ts
Due: yarn run format:staged, yarn run lint:eslint

refactor: address review findings on icon upgrade
  .yarnrc.yml
  lib/stories/iconCategories.ts
Due: yarn run format:staged, yarn run lint:eslint

chore: add changeset for @autoguru/icons 2.0.0 upgrade
  .changeset/upgrade-icons-2-0.md
Due: yarn run format:staged

feat(SplitButton): add split button component (AG-18929)
  lib/components/Button/Button.tsx
  lib/components/SplitButton/SplitButton.css.ts
  lib/components/SplitButton/SplitButton.spec.tsx
  lib/components/SplitButton/SplitButton.stories.tsx
  lib/components/SplitButton/SplitButton.tsx
  lib/components/SplitButton/default.ts
  lib/components/SplitButton/index.ts
  lib/components/index.ts
  lib/index.ts
Due: yarn run format:staged, yarn run lint:eslint

chore: add changeset for SplitButton
  .changeset/split-button.md
Due: yarn run format:staged

fix(SplitButton): address review feedback
  lib/components/SplitButton/SplitButton.css.ts
  lib/components/SplitButton/SplitButton.spec.tsx
  lib/components/SplitButton/SplitButton.tsx
Due: yarn run format:staged, yarn run lint:eslint

refactor(SplitButton): drop the filled-variant divider overlay
  lib/components/SplitButton/SplitButton.css.ts
Due: yarn run format:staged, yarn run lint:eslint

fix(SplitButton): address accessibility review feedback
  lib/components/SplitButton/SplitButton.spec.tsx
  lib/components/SplitButton/SplitButton.stories.tsx
  lib/components/SplitButton/SplitButton.tsx
Due: yarn run format:staged, yarn run lint:eslint

feat(SplitButton): add split button component (AG-18929) (#1344)
  .changeset/split-button.md
  lib/components/Button/Button.tsx
  lib/components/SplitButton/SplitButton.css.ts
  lib/components/SplitButton/SplitButton.spec.tsx
  lib/components/SplitButton/SplitButton.stories.tsx
  lib/components/SplitButton/SplitButton.tsx
  lib/components/SplitButton/default.ts
  lib/components/SplitButton/index.ts
  lib/components/index.ts
  lib/index.ts
Due: yarn run format:staged, yarn run lint:eslint

chore: bump @autoguru/icons to 2.0.1
  .changeset/upgrade-icons-2-0.md
  package.json
  yarn.lock
Due: yarn run format:staged

fix: migrate SplitButton icons to @autoguru/icons 2.x names
  lib/components/SplitButton/SplitButton.spec.tsx
  lib/components/SplitButton/SplitButton.stories.tsx
  lib/components/SplitButton/SplitButton.tsx
  lib/components/Table/TableRow.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

test: update StarRating snapshot for 2.0.1 icon paths
  lib/components/StarRating/__snapshots__/StarRating.spec.jsx.snap
Due: none
