Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:eslint, yarn run format:staged

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
    - 'yarn run lint:eslint'
    - 'yarn run format:staged'
'*.{md,mdx,json,html,yml}':
    - 'yarn run format:staged'

fix: Icon test selects, snaps
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
  lib/components/Anchor/__snapshots__/Anchor.spec.jsx.snap
  lib/components/BulletText/__snapshots__/BulletText.spec.jsx.snap
  lib/components/CheckBox/__snapshots__/CheckBox.spec.jsx.snap
  lib/components/ColourInput/__snapshots__/ColourInput.spec.jsx.snap
  lib/components/DateInput/__snapshots__/DateInput.spec.jsx.snap
  lib/components/DatePicker/__snapshots__/DatePicker.spec.jsx.snap
  lib/components/DropDown/__snapshots__/DropDown.spec.jsx.snap
  lib/components/HorizontalAutoScroller/__snapshots__/HorizontalAutoScroller.spec.jsx.snap
  lib/components/Icon/Icon.spec.jsx
  lib/components/Icon/__snapshots__/Icon.spec.jsx.snap
  lib/components/Meta/__snapshots__/Meta.spec.jsx.snap
  lib/components/NumberInput/__snapshots__/NumberInput.spec.jsx.snap
  lib/components/Pagination/__snapshots__/Pagination.spec.jsx.snap
  lib/components/SelectInput/__snapshots__/SelectInput.spec.jsx.snap
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
  lib/components/StarRating/__snapshots__/StarRating.spec.jsx.snap
  lib/components/Stepper/__snapshots__/Stepper.spec.jsx.snap
  lib/components/Table/__snapshots__/Table.spec.jsx.snap
  lib/components/TextInput/__snapshots__/TextInput.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

refactor: converts Storybook preview.jsx to typescirpt, extracts decorator
  .storybook/preview.tsx
  .storybook/withThemeProvider.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/pretty-files-drop.md
Due: yarn run format:staged

feat: `pill` Tabs spacing
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/Tabs.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

test: snap
  lib/components/Tabs/__snapshots__/Tabs.spec.jsx.snap
Due: none

Tabs pill variant (#1079)
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.css.ts
  lib/components/Tabs/TabList.tsx
  lib/components/Tabs/Tabs.stories.tsx
  lib/components/Tabs/Tabs.tsx
  lib/components/Tabs/__snapshots__/Tabs.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

feat: Checkbox indeterminate state
  lib/components/CheckBox/CheckBox.css.ts
  lib/components/CheckBox/CheckBox.stories.tsx
  lib/components/CheckBox/CheckBox.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: checkbox stories
  eslint.config.mjs
  lib/components/CheckBox/CheckBox.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

Checkbox indeterminate state (#1080)
  eslint.config.mjs
  lib/components/CheckBox/CheckBox.css.ts
  lib/components/CheckBox/CheckBox.stories.tsx
  lib/components/CheckBox/CheckBox.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: remove commented code
  .storybook/withThemeProvider.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore(deps): bump Storybook and other deps (#1076)
  package.json
  yarn.lock
Due: yarn run format:staged

Fix/1077 icon renders inside div (#1078)
  .changeset/pretty-files-drop.md
  .storybook/preview.tsx
  .storybook/withThemeProvider.tsx
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
  lib/components/Anchor/__snapshots__/Anchor.spec.jsx.snap
  lib/components/BulletText/__snapshots__/BulletText.spec.jsx.snap
  lib/components/CheckBox/__snapshots__/CheckBox.spec.jsx.snap
  lib/components/ColourInput/__snapshots__/ColourInput.spec.jsx.snap
  lib/components/DateInput/__snapshots__/DateInput.spec.jsx.snap
  lib/components/DatePicker/__snapshots__/DatePicker.spec.jsx.snap
  lib/components/DropDown/__snapshots__/DropDown.spec.jsx.snap
  lib/components/HorizontalAutoScroller/__snapshots__/HorizontalAutoScroller.spec.jsx.snap
  lib/components/Icon/Icon.spec.jsx
  lib/components/Icon/Icon.tsx
  lib/components/Icon/__snapshots__/Icon.spec.jsx.snap
  lib/components/Meta/__snapshots__/Meta.spec.jsx.snap
  lib/components/NumberInput/__snapshots__/NumberInput.spec.jsx.snap
  lib/components/Pagination/__snapshots__/Pagination.spec.jsx.snap
  lib/components/SelectInput/__snapshots__/SelectInput.spec.jsx.snap
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
  lib/components/StarRating/__snapshots__/StarRating.spec.jsx.snap
  lib/components/Stepper/__snapshots__/Stepper.spec.jsx.snap
  lib/components/Table/__snapshots__/Table.spec.jsx.snap
  lib/components/TextInput/__snapshots__/TextInput.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

test: snaps
  lib/components/ColourInput/__snapshots__/ColourInput.spec.jsx.snap
  lib/components/DateInput/__snapshots__/DateInput.spec.jsx.snap
  lib/components/NumberInput/__snapshots__/NumberInput.spec.jsx.snap
  lib/components/SelectInput/__snapshots__/SelectInput.spec.jsx.snap
  lib/components/TextAreaInput/__snapshots__/TextAreaInput.spec.jsx.snap
  lib/components/TextInput/__snapshots__/TextInput.spec.jsx.snap
Due: none

chore: trying to improve element types for withEnhancedInput
  lib/components/NumberInput/NumberInput.tsx
  lib/components/private/InputBase/withEnhancedInput.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: restyling InputBase for `large` size
  lib/components/private/InputBase/NotchedBase.css.ts
  lib/components/private/InputBase/NotchedBase.tsx
  lib/components/private/InputBase/withEnhancedInput.css.ts
  lib/components/private/InputBase/withEnhancedInput.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore(peerdeps): sync peer dependencies, plus bump a few deps
  package.json
  yarn.lock
Due: yarn run format:staged

chore: changeset
  .changeset/quick-needles-cough.md
Due: yarn run format:staged

feat: styling InputBase for large size
  lib/components/private/InputBase/HintText.tsx
  lib/components/private/InputBase/NotchedBase.css.ts
  lib/components/private/InputBase/NotchedBase.tsx
  lib/components/private/InputBase/withEnhancedInput.css.ts
  lib/components/private/InputBase/withEnhancedInput.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: styling InputBase for large size
  lib/components/private/InputBase/NotchedBase.css.ts
  lib/components/private/InputBase/withEnhancedInput.css.ts
  lib/components/private/InputBase/withEnhancedInput.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: consistent large size for AutoSuggest, DateInput, SelectInput
  lib/components/AutoSuggest/AutoSuggest.stories.tsx
  lib/components/AutoSuggest/AutoSuggest.tsx
  lib/components/DateInput/DateInput.stories.tsx
  lib/components/SelectInput/SelectInput.css.ts
  lib/components/SelectInput/SelectInput.stories.tsx
  lib/components/SelectInput/SelectInput.tsx
  lib/components/TextAreaInput/TextAreaInput.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: Auto Suggest label on mobile is cutoff when dropdown is open #1073
  lib/components/AutoSuggest/AutoSuggest.css.ts
Due: yarn run lint:eslint, yarn run format:staged

refactor: type adjustments on NumberInput and withEnhancedInput, NumberInput story tidy up and large size
  lib/components/NumberInput/NumberInput.stories.tsx
  lib/components/NumberInput/NumberInput.tsx
  lib/components/private/InputBase/withEnhancedInput.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: rename `indeterminate` prop to `isIndeterminate`
  lib/components/CheckBox/CheckBox.stories.tsx
  lib/components/CheckBox/CheckBox.tsx
Due: yarn run lint:eslint, yarn run format:staged

Tabs `appearance` prop for Pill variant, Checkbox `indeterminate` state (#1086)
  eslint.config.mjs
  lib/components/CheckBox/CheckBox.css.ts
  lib/components/CheckBox/CheckBox.stories.tsx
  lib/components/CheckBox/CheckBox.tsx
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.css.ts
  lib/components/Tabs/TabList.tsx
  lib/components/Tabs/Tabs.stories.tsx
  lib/components/Tabs/Tabs.tsx
  lib/components/Tabs/__snapshots__/Tabs.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/warm-cases-peel.md
Due: yarn run format:staged

chore(peerdeps): sync peer dependencies (#1085)
  .changeset/quick-needles-cough.md
  package.json
  yarn.lock
Due: yarn run format:staged

deploy: c2ad0d306de5ccae3e60eb94be9bbd9593281833
  assets/Color-YHDXOIA2-4SOCV3vE.js
  assets/Color-YHDXOIA2-CSx56rTp.js
  assets/DocsRenderer-CFRXHY34-AdHA5Bi3.js
  assets/DocsRenderer-CFRXHY34-BHtZ6sWA.js
  assets/DropDown.stories-CpHpHLPQ.js
  assets/DropDown.stories-ijZU9KjK.js
  assets/TextLink.stories-_5lgf3I-.js
  assets/TextLink.stories-k-x00RJ-.js
  assets/entry-preview-k6ReTPm5.js
  assets/icons.stories-CSdmOBWX.js
  assets/icons.stories-DUVM0ebL.js
  assets/iframe-B9NR6kXu.js
  assets/index-CArZfElg.js
  assets/preview-DdoAlu86.js
  assets/preview-Df3g_JAb.js
  assets/preview-_Owwh0c8.js
  assets/preview-hHWwoBXS.js
  assets/welcome-BZW0VjUi.js
  iframe.html
  project.json
Due: yarn run lint:eslint, yarn run format:staged

test: snaps
  lib/components/ColourInput/__snapshots__/ColourInput.spec.jsx.snap
  lib/components/DateInput/__snapshots__/DateInput.spec.jsx.snap
  lib/components/NumberInput/__snapshots__/NumberInput.spec.jsx.snap
  lib/components/SelectInput/__snapshots__/SelectInput.spec.jsx.snap
  lib/components/TextAreaInput/__snapshots__/TextAreaInput.spec.jsx.snap
  lib/components/TextInput/__snapshots__/TextInput.spec.jsx.snap
  lib/components/private/InputBase/__snapshots__/NotchedBase.spec.jsx.snap
Due: none

fix: ensure badge display flows inline
  lib/components/Badge/Badge.css.ts
  lib/components/Badge/Badge.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/hip-coats-heal.md
Due: yarn run format:staged

Large size input fields (#1087)
  lib/components/AutoSuggest/AutoSuggest.css.ts
  lib/components/AutoSuggest/AutoSuggest.stories.tsx
  lib/components/AutoSuggest/AutoSuggest.tsx
  lib/components/ColourInput/__snapshots__/ColourInput.spec.jsx.snap
  lib/components/DateInput/DateInput.stories.tsx
  lib/components/DateInput/__snapshots__/DateInput.spec.jsx.snap
  lib/components/NumberInput/NumberInput.stories.tsx
  lib/components/NumberInput/NumberInput.tsx
  lib/components/NumberInput/__snapshots__/NumberInput.spec.jsx.snap
  lib/components/SelectInput/SelectInput.css.ts
  lib/components/SelectInput/SelectInput.stories.tsx
  lib/components/SelectInput/SelectInput.tsx
  lib/components/SelectInput/__snapshots__/SelectInput.spec.jsx.snap
  lib/components/TextAreaInput/TextAreaInput.tsx
  lib/components/TextAreaInput/__snapshots__/TextAreaInput.spec.jsx.snap
  lib/components/TextInput/__snapshots__/TextInput.spec.jsx.snap
  lib/components/private/InputBase/HintText.tsx
  lib/components/private/InputBase/NotchedBase.css.ts
  lib/components/private/InputBase/NotchedBase.tsx
  lib/components/private/InputBase/__snapshots__/NotchedBase.spec.jsx.snap
  lib/components/private/InputBase/withEnhancedInput.css.ts
  lib/components/private/InputBase/withEnhancedInput.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: ensure badge has correct display property (#1089)
  .changeset/hip-coats-heal.md
  lib/components/Badge/Badge.css.ts
  lib/components/Badge/Badge.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

deploy: 4e288e495611bc26b735d720e0697c324911f21f
  assets/Badge-BdApFndr.css
  assets/Badge-DhlSdTdp.js
  assets/Badge-RXVO8_sN.css
  assets/Badge.stories-BE9OX2eg.js
  assets/Badge.stories-CEhw6S0q.js
  assets/CheckBox.stories-BRfMUkuK.js
  assets/CheckBox.stories-CSEU-rz8.js
  assets/Color-YHDXOIA2-BzjbW-HP.js
  assets/Color-YHDXOIA2-C-e9StBS.js
  assets/DocsRenderer-CFRXHY34-CkG0Zxp1.js
  assets/DocsRenderer-CFRXHY34-D8Mo4Jis.js
  assets/DropDown.stories-CpHpHLPQ.js
  assets/DropDown.stories-ijZU9KjK.js
  assets/Radio.stories-K2XR0GJS.js
  assets/Radio.stories-hY8E8LyQ.js
  assets/Table.stories-CK_mL__t.js
  assets/Table.stories-X2W7PjvY.js
  assets/TextLink.stories-C6T2BepB.js
  assets/TextLink.stories-Sqwb0uG_.js
  assets/entry-preview-DLP7EhMp.js
  assets/iframe-C0f6xSYv.js
  assets/index-CsM4mwsW.js
  assets/preview-B-nWY0Vc.js
  assets/preview-CBN8Ox-3.js
  assets/preview-DF8HEKVL.js
  assets/preview-DqWckhV5.js
  assets/welcome-TKyQtVO4.js
  iframe.html
  project.json
Due: yarn run lint:eslint, yarn run format:staged

Version prerelease
  package.json
Due: yarn run format:staged

feat: styling `tiny` Button size
  lib/components/Button/Button.css.ts
  lib/components/Button/Button.stories.tsx
  lib/components/Button/Button.tsx
  lib/themes/tokens.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: bring in style-related Button props from recipe, rename variant `xsmall` size
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
  lib/components/Anchor/__snapshots__/Anchor.spec.jsx.snap
  lib/components/Button/Button.css.ts
  lib/components/Button/Button.stories.tsx
  lib/components/Button/Button.tsx
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
  lib/components/DropDown/__snapshots__/DropDown.spec.jsx.snap
  lib/components/HorizontalAutoScroller/__snapshots__/HorizontalAutoScroller.spec.jsx.snap
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged
