Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format:staged, yarn run lint:eslint

feat: dark mode vibing
  .claude/docs/DARK_MODE.md
  lib/hooks/useColorMode/index.ts
  lib/hooks/useColorMode/useColorMode.ts
  lib/index.ts
  lib/themes/base/colours.dark.ts
  lib/themes/base/theme.css.ts
  lib/themes/base/tokens.dark.ts
  lib/themes/base/tokens.ts
  lib/themes/flat_red/theme.css.ts
  lib/themes/flat_red/tokens.dark.ts
  lib/themes/neutral/theme.css.ts
  lib/themes/neutral/tokens.dark.ts
  lib/themes/types.ts
  lib/utils/colorMode.ts
Due: yarn run format:staged, yarn run lint:eslint

fix: import
  lib/utils/responsiveStyle.ts
Due: yarn run format:staged, yarn run lint:eslint

chore: draft roadmap
  docs/ROADMAP.md
Due: yarn run format:staged

chore: quick reference
  docs/QUICK_REFERENCE.md
Due: yarn run format:staged

chore: roadmap doc
  .prettierignore
  docs/ROADMAP.md
  lib/stories/roadmap.mdx
Due: yarn run format:staged

chore: bump storybook
  package.json
  yarn.lock
Due: yarn run format:staged

chore: bump deps
  package.json
  yarn.lock
Due: yarn run format:staged

chore: React 19.2
  lib/components/CheckBox/__snapshots__/CheckBox.spec.jsx.snap
  lib/components/Radio/__snapshots__/Radio.spec.jsx.snap
  lib/components/Tooltip/__snapshots__/Tooltip.spec.tsx.snap
  package.json
  yarn.lock
Due: yarn run format:staged

chore: roadmap
  docs/ROADMAP.md
Due: yarn run format:staged

wip: apply colorMode to OD provider and storybook
  .storybook/overdriveDecorator.tsx
  .storybook/preview.tsx
  lib/components/OverdriveProvider/OverdriveProvider.tsx
  lib/hooks/index.ts
  lib/themes/base/theme.css.ts
  lib/themes/flat_red/theme.css.ts
  lib/themes/neutral/theme.css.ts
Due: yarn run format:staged, yarn run lint:eslint

chore(deps): React, Storybook, more (#1296)
  lib/components/CheckBox/__snapshots__/CheckBox.spec.jsx.snap
  lib/components/Radio/__snapshots__/Radio.spec.jsx.snap
  lib/components/Tooltip/__snapshots__/Tooltip.spec.tsx.snap
  package.json
  yarn.lock
Due: yarn run format:staged

wip: simplify tokens
  .storybook/overdriveDecorator.tsx
  .storybook/preview.tsx
  lib/themes/base/colours.dark.ts
  lib/themes/base/tokens.dark.ts
  lib/themes/flat_red/tokens.dark.ts
  lib/themes/flat_red/tokens.ts
  lib/themes/neutral/tokens.dark.ts
  lib/themes/neutral/tokens.ts
Due: yarn run format:staged, yarn run lint:eslint

chore: roadmap
  docs/ROADMAP.md
  yarn.lock
Due: yarn run format:staged

Roadmap (#1295)
  .prettierignore
  docs/QUICK_REFERENCE.md
  docs/ROADMAP.md
  lib/stories/roadmap.mdx
  lib/utils/responsiveStyle.ts
  yarn.lock
Due: yarn run format:staged, yarn run lint:eslint

test(DropDown): enhance tests for uncontrolled and controlled modes, add mobile viewport behavior
  lib/components/DropDown/DropDown.spec.jsx
  lib/components/DropDown/DropDown.stories.tsx
  lib/components/DropDown/DropDown.tsx
Due: yarn run format:staged, yarn run lint:eslint

fix(index): add missing export for Calendar component
  lib/components/index.ts
Due: yarn run format:staged, yarn run lint:eslint

chore: add changeset for DropDown enhancements
  .changeset/dropdown-controlled-state-mobile-modal.md
Due: yarn run format:staged

refactor(DropDown): remove mobile modal, keep controlled state support
  .changeset/dropdown-controlled-state-mobile-modal.md
  lib/components/DropDown/DropDown.spec.jsx
  lib/components/DropDown/DropDown.tsx
Due: yarn run format:staged, yarn run lint:eslint

refactor(DropDown): simplify controlled/uncontrolled state logic
  lib/components/DropDown/DropDown.tsx
Due: yarn run format:staged, yarn run lint:eslint

feat(DropDown): Add controlled/uncontrolled state support with onOpenChange callback (#1303)
  .changeset/dropdown-controlled-state-mobile-modal.md
  lib/components/DropDown/DropDown.spec.jsx
  lib/components/DropDown/DropDown.stories.tsx
  lib/components/DropDown/DropDown.tsx
  lib/components/index.ts
Due: yarn run format:staged, yarn run lint:eslint

feat(MarkdownRenderer): Add MarkdownRenderer component for GFM markdown
  .changeset/add-markdown-renderer.md
  lib/components/MarkdownRenderer/MarkdownRenderer.css.ts
  lib/components/MarkdownRenderer/MarkdownRenderer.spec.tsx
  lib/components/MarkdownRenderer/MarkdownRenderer.stories.tsx
  lib/components/MarkdownRenderer/MarkdownRenderer.tsx
  lib/components/MarkdownRenderer/components/MarkdownBlockquote.css.ts
  lib/components/MarkdownRenderer/components/MarkdownBlockquote.tsx
  lib/components/MarkdownRenderer/components/MarkdownCodeBlock.css.ts
  lib/components/MarkdownRenderer/components/MarkdownCodeBlock.tsx
  lib/components/MarkdownRenderer/components/MarkdownEmphasis.css.ts
  lib/components/MarkdownRenderer/components/MarkdownEmphasis.tsx
  lib/components/MarkdownRenderer/components/MarkdownHeading.tsx
  lib/components/MarkdownRenderer/components/MarkdownHorizontalRule.tsx
  lib/components/MarkdownRenderer/components/MarkdownImage.css.ts
  lib/components/MarkdownRenderer/components/MarkdownImage.tsx
  lib/components/MarkdownRenderer/components/MarkdownInlineCode.css.ts
  lib/components/MarkdownRenderer/components/MarkdownInlineCode.tsx
  lib/components/MarkdownRenderer/components/MarkdownLink.tsx
  lib/components/MarkdownRenderer/components/MarkdownListItem.tsx
  lib/components/MarkdownRenderer/components/MarkdownOrderedList.tsx
  lib/components/MarkdownRenderer/components/MarkdownParagraph.tsx
  lib/components/MarkdownRenderer/components/MarkdownStrikethrough.css.ts
  lib/components/MarkdownRenderer/components/MarkdownStrikethrough.tsx
  lib/components/MarkdownRenderer/components/MarkdownStrong.tsx
  lib/components/MarkdownRenderer/components/MarkdownTable.css.ts
  lib/components/MarkdownRenderer/components/MarkdownTable.tsx
  lib/components/MarkdownRenderer/components/MarkdownTaskListItem.css.ts
  lib/components/MarkdownRenderer/components/MarkdownTaskListItem.tsx
  lib/components/MarkdownRenderer/components/MarkdownUnorderedList.tsx
  lib/components/MarkdownRenderer/components/index.ts
  lib/components/MarkdownRenderer/index.ts
  lib/components/index.ts
  package.json
  yarn.lock
Due: yarn run format:staged, yarn run lint:eslint

test: Enhance MarkdownRenderer tests and fix Calendar year assertions
  lib/components/Calendar/Calendar.spec.tsx
  lib/components/MarkdownRenderer/MarkdownRenderer.spec.tsx
Due: yarn run format:staged, yarn run lint:eslint

feat(MarkdownRenderer): Update MarkdownRenderer stories and enhance MarkdownHorizontalRule component
  lib/components/MarkdownRenderer/MarkdownRenderer.stories.tsx
  lib/components/MarkdownRenderer/components/MarkdownHorizontalRule.tsx
Due: yarn run format:staged, yarn run lint:eslint

fix(MarkdownRenderer): Fix test references to match actual story exports
  .gitignore
  lib/components/MarkdownRenderer/MarkdownRenderer.spec.tsx
Due: yarn run format:staged, yarn run lint:eslint

fix: Update yarn.lock with peerDependenciesMeta for markdown deps
  yarn.lock
Due: none

style: Run Prettier formatting across changed files
  .changeset/add-markdown-renderer.md
  lib/components/Calendar/Calendar.spec.tsx
  lib/components/DropDown/DropDown.spec.jsx
  lib/components/DropDown/DropDown.tsx
  lib/components/MarkdownRenderer/MarkdownRenderer.spec.tsx
  lib/components/MarkdownRenderer/MarkdownRenderer.stories.tsx
  lib/components/MarkdownRenderer/MarkdownRenderer.tsx
  lib/components/MarkdownRenderer/components/MarkdownCodeBlock.tsx
  lib/components/MarkdownRenderer/components/MarkdownHeading.tsx
  lib/components/MarkdownRenderer/components/MarkdownLink.tsx
  lib/components/MarkdownRenderer/components/MarkdownListItem.tsx
  lib/components/MarkdownRenderer/index.ts
  package.json
Due: yarn run format:staged, yarn run lint:eslint

fix(MarkdownRenderer): Use valid intent colour for DividerLine in horizontal rule
  lib/components/MarkdownRenderer/components/MarkdownHorizontalRule.tsx
Due: yarn run format:staged, yarn run lint:eslint

fix(MarkdownRenderer): Use getAllByRole in play tests for Chromatic compatibility
  lib/components/MarkdownRenderer/MarkdownRenderer.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

fix(MarkdownRenderer): Use getAllByText in blockquote play test for Chromatic
  lib/components/MarkdownRenderer/MarkdownRenderer.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

Apply suggestion from @Copilot
  package.json
Due: yarn run format:staged

fix(yarn.lock): specify exact versions for react-markdown and remark-gfm
  yarn.lock
Due: none

feat(MarkdownRenderer): enhance component interfaces and styles, add monospace font constant
  lib/components/MarkdownRenderer/MarkdownRenderer.css.ts
  lib/components/MarkdownRenderer/components/MarkdownBlockquote.css.ts
  lib/components/MarkdownRenderer/components/MarkdownBlockquote.tsx
  lib/components/MarkdownRenderer/components/MarkdownCodeBlock.css.ts
  lib/components/MarkdownRenderer/components/MarkdownCodeBlock.tsx
  lib/components/MarkdownRenderer/components/MarkdownEmphasis.tsx
  lib/components/MarkdownRenderer/components/MarkdownHeading.tsx
  lib/components/MarkdownRenderer/components/MarkdownHorizontalRule.tsx
  lib/components/MarkdownRenderer/components/MarkdownImage.tsx
  lib/components/MarkdownRenderer/components/MarkdownInlineCode.css.ts
  lib/components/MarkdownRenderer/components/MarkdownInlineCode.tsx
  lib/components/MarkdownRenderer/components/MarkdownLink.tsx
  lib/components/MarkdownRenderer/components/MarkdownListItem.tsx
  lib/components/MarkdownRenderer/components/MarkdownOrderedList.tsx
  lib/components/MarkdownRenderer/components/MarkdownParagraph.tsx
  lib/components/MarkdownRenderer/components/MarkdownStrikethrough.tsx
  lib/components/MarkdownRenderer/components/MarkdownStrong.tsx
  lib/components/MarkdownRenderer/components/MarkdownTable.css.ts
  lib/components/MarkdownRenderer/components/MarkdownTable.tsx
  lib/components/MarkdownRenderer/components/MarkdownTaskListItem.css.ts
  lib/components/MarkdownRenderer/components/MarkdownTaskListItem.tsx
  lib/components/MarkdownRenderer/components/MarkdownUnorderedList.tsx
Due: yarn run format:staged, yarn run lint:eslint

feat(MarkdownRenderer): replace MONOSPACE_FONT_FAMILY with fontFamilyMono token in code block and inline code styles
  lib/components/MarkdownRenderer/MarkdownRenderer.css.ts
  lib/components/MarkdownRenderer/components/MarkdownCodeBlock.css.ts
  lib/components/MarkdownRenderer/components/MarkdownInlineCode.css.ts
  lib/themes/base/tokens.ts
  lib/themes/theme.css.ts
Due: yarn run format:staged, yarn run lint:eslint

feat(MarkdownRenderer): Add markdown rendering component (#1306)
  .changeset/add-markdown-renderer.md
  .gitignore
  lib/components/Calendar/Calendar.spec.tsx
  lib/components/DropDown/DropDown.spec.jsx
  lib/components/DropDown/DropDown.tsx
  lib/components/MarkdownRenderer/MarkdownRenderer.css.ts
  lib/components/MarkdownRenderer/MarkdownRenderer.spec.tsx
  lib/components/MarkdownRenderer/MarkdownRenderer.stories.tsx
  lib/components/MarkdownRenderer/MarkdownRenderer.tsx
  lib/components/MarkdownRenderer/components/MarkdownBlockquote.css.ts
  lib/components/MarkdownRenderer/components/MarkdownBlockquote.tsx
  lib/components/MarkdownRenderer/components/MarkdownCodeBlock.css.ts
  lib/components/MarkdownRenderer/components/MarkdownCodeBlock.tsx
  lib/components/MarkdownRenderer/components/MarkdownEmphasis.css.ts
  lib/components/MarkdownRenderer/components/MarkdownEmphasis.tsx
  lib/components/MarkdownRenderer/components/MarkdownHeading.tsx
  lib/components/MarkdownRenderer/components/MarkdownHorizontalRule.tsx
  lib/components/MarkdownRenderer/components/MarkdownImage.css.ts
  lib/components/MarkdownRenderer/components/MarkdownImage.tsx
  lib/components/MarkdownRenderer/components/MarkdownInlineCode.css.ts
  lib/components/MarkdownRenderer/components/MarkdownInlineCode.tsx
  lib/components/MarkdownRenderer/components/MarkdownLink.tsx
  lib/components/MarkdownRenderer/components/MarkdownListItem.tsx
  lib/components/MarkdownRenderer/components/MarkdownOrderedList.tsx
  lib/components/MarkdownRenderer/components/MarkdownParagraph.tsx
  lib/components/MarkdownRenderer/components/MarkdownStrikethrough.css.ts
  lib/components/MarkdownRenderer/components/MarkdownStrikethrough.tsx
  lib/components/MarkdownRenderer/components/MarkdownStrong.tsx
  lib/components/MarkdownRenderer/components/MarkdownTable.css.ts
  lib/components/MarkdownRenderer/components/MarkdownTable.tsx
  lib/components/MarkdownRenderer/components/MarkdownUnorderedList.tsx
  lib/components/MarkdownRenderer/components/index.ts
  lib/components/MarkdownRenderer/index.ts
  lib/components/index.ts
  lib/themes/base/tokens.ts
  lib/themes/theme.css.ts
  package.json
  yarn.lock
Due: yarn run format:staged, yarn run lint:eslint

Path conditions:
  yarn run format:staged: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx,json,html,yml})
  yarn run lint:eslint: any of: *.{js,jsx,ts,tsx}
