Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:eslint, yarn run format:staged

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
    - 'yarn run lint:eslint'
    - 'yarn run format:staged'
'*.{md,mdx,json,html,yml}':
    - 'yarn run format:staged'

feat: add Claude Code commands for PR and component generation (#1248)
  .claude/commands/component.md
  .claude/commands/pr.md
Due: yarn run format:staged

feat: enhance component command with design input options
  .claude/commands/component.md
  .claude/commands/pr.md
Due: yarn run format:staged

feat: generate beta Slider component
  lib/components/Slider/Slider.css.ts
  lib/components/Slider/Slider.spec.jsx
  lib/components/Slider/Slider.stories.tsx
  lib/components/Slider/Slider.tsx
  lib/components/Slider/__snapshots__/Slider.spec.jsx.snap
  lib/components/Slider/index.ts
  lib/components/index.ts
  templates/component/{{pascalCase name}}.css.ts.hbs
Due: yarn run lint:eslint, yarn run format:staged

feat: polishing Slider
  lib/components/Slider/Slider.css.ts
  lib/components/Slider/Slider.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: template spec.jsx to .tsx
  templates/component/{{pascalCase name}}.spec.tsx.hbs
Due: none

test: finalise Slider stories and write spec
  lib/components/Slider/Slider.spec.jsx
  lib/components/Slider/Slider.spec.tsx
  lib/components/Slider/Slider.stories.tsx
  lib/components/Slider/__snapshots__/Slider.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

fix: play function
  CLAUDE.md
  lib/components/Slider/Slider.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/fuzzy-rings-post.md
Due: yarn run format:staged

Beta component alignment and consistency (#1247)
  .changeset/early-numbers-fry.md
  CLAUDE.md
  lib/components/AutoSuggest/AutoSuggest.spec.tsx
  lib/components/DateTimePicker/CalendarButton.tsx
  lib/components/DateTimePicker/CalendarGrid.tsx
  lib/components/DateTimePicker/DateTimePicker.css.ts
  lib/components/DateTimePicker/DateTimePicker.spec.tsx
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/OptionGrid/OptionGrid.tsx
  lib/components/OptionList/OptionList.css.ts
  lib/components/OptionList/OptionList.spec.tsx
  lib/components/OptionList/OptionListItem.tsx
  lib/components/SearchBar/SearchBar.css.ts
  lib/components/SearchBar/SearchBar.tsx
  lib/styles/selectors.ts
  lib/utils/css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: enhance OptionGrid with disabled state and isLoading
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/OptionGrid/OptionGrid.stories.tsx
  lib/components/OptionGrid/OptionGrid.tsx
Due: yarn run lint:eslint, yarn run format:staged

wip: OptionGrid disabled state
  .changeset/yummy-areas-attend.md
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/OptionGrid/OptionGrid.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: OptionGrid adds disabled style and loading state (#1251)
  .changeset/yummy-areas-attend.md
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/OptionGrid/OptionGrid.stories.tsx
  lib/components/OptionGrid/OptionGrid.tsx
Due: yarn run lint:eslint, yarn run format:staged

Update CHANGELOG.md
  CHANGELOG.md
Due: yarn run format:staged

fix: allow Lint & Test to run on `main` to reinstate codecov updates
  .github/workflows/ci.yml
Due: yarn run format:staged

wip: Slider.css.ts
  lib/components/Slider/Slider.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: extract Calendar component
  lib/components/Calendar/Calendar.css.ts
  lib/components/Calendar/Calendar.stories.tsx
  lib/components/Calendar/Calendar.tsx
  lib/components/Calendar/CalendarButton.tsx
  lib/components/Calendar/CalendarGrid.tsx
  lib/components/Calendar/index.ts
Due: yarn run lint:eslint, yarn run format:staged

refactor: DateTimePicker uses Calendar
  lib/components/DateTimePicker/CalendarButton.tsx
  lib/components/DateTimePicker/CalendarGrid.tsx
  lib/components/DateTimePicker/DateTimePicker.css.ts
  lib/components/DateTimePicker/DateTimePicker.tsx
Due: yarn run lint:eslint, yarn run format:staged

wip: draft new Overlay as Popover
  lib/components/Popover/Popover.css.ts
  lib/components/Popover/Popover.tsx
  lib/components/Popover/index.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: responsively enhances DatePicker with Calendar and Popover
  lib/components/DatePicker/DatePicker.spec.jsx
  lib/components/DatePicker/DatePicker.stories.tsx
  lib/components/DatePicker/DatePicker.tsx
  lib/components/DatePicker/__snapshots__/DatePicker.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

fix: Calendar unavailable state, clean up stories
  lib/components/Calendar/Calendar.css.ts
  lib/components/Calendar/Calendar.stories.tsx
  lib/styles/selectors.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: reimplment Popover correctly with usePopover hook, separate PopoverTrigger, clean up stories
  lib/components/Popover/Popover.stories.tsx
  lib/components/Popover/Popover.tsx
  lib/components/Popover/PopoverTrigger.tsx
  lib/components/Popover/index.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: extract sprinkles instructions to claude command
  .claude/commands/sprinkles.md
  CLAUDE.md
Due: yarn run format:staged

feat: PopoverTrigger handles nested <button> element
  lib/components/Popover/PopoverTrigger.tsx
Due: yarn run lint:eslint, yarn run format:staged

test: fix Popover interactive play functions
  lib/components/Popover/Popover.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: iterates DatePicker uplift
  lib/components/DatePicker/DatePicker.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: cleans up DatePicker style, stories
  lib/components/DatePicker/DatePicker.css.ts
  lib/components/DatePicker/DatePicker.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: improve responsiveness of Popover with fullscreen mobile layout
  lib/components/DatePicker/DatePicker.tsx
  lib/components/Popover/Popover.css.ts
  lib/components/Popover/Popover.tsx
  lib/components/Popover/PopoverTrigger.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: draft testing command
  .claude/commands/testing.md
Due: yarn run format:staged

chore: update testing command
  .claude/commands/testing.md
Due: yarn run format:staged

test: Calendar spec
  lib/components/Calendar/Calendar.spec.tsx
Due: yarn run lint:eslint, yarn run format:staged

test: Popover spec
  lib/components/Popover/Popover.spec.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: testing command more focused on spec
  .claude/commands/testing.md
  CLAUDE.md
Due: yarn run format:staged

test: DatePicker spec and interaction
  lib/components/DatePicker/DatePicker.spec.jsx
  lib/components/DatePicker/DatePicker.spec.tsx
  lib/components/DatePicker/DatePicker.stories.tsx
  lib/components/DatePicker/__snapshots__/DatePicker.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

chore: clarify pr command to use drafts
  .claude/commands/pr.md
Due: yarn run format:staged

chore: add changeset for DatePicker uplift
  .changeset/datepicker-uplift.md
Due: yarn run format:staged

chore: changeset
  .changeset/datepicker-uplift.md
Due: yarn run format:staged

feat: add beta Slider component with enhanced testing (#1249)
  .changeset/fuzzy-rings-post.md
  .claude/commands/component.md
  .claude/commands/pr.md
  .github/workflows/ci.yml
  CLAUDE.md
  lib/components/Slider/Slider.css.ts
  lib/components/Slider/Slider.spec.tsx
  lib/components/Slider/Slider.stories.tsx
  lib/components/Slider/Slider.tsx
  lib/components/Slider/index.ts
  lib/components/index.ts
  templates/component/{{pascalCase name}}.css.ts.hbs
  templates/component/{{pascalCase name}}.spec.tsx.hbs
Due: yarn run lint:eslint, yarn run format:staged

Update lib/components/Popover/Popover.tsx
  lib/components/Popover/Popover.tsx
Due: yarn run lint:eslint, yarn run format:staged
