Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format:staged, yarn run lint:eslint

docs(FilterChip): document focus instead of shipping a Focus story
  lib/components/FilterChip/FilterChip.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

feat(FilterChip): draw focus in the DS-2026 blue
  .changeset/filter-chip.md
  lib/components/FilterChip/FilterChip.css.ts
  lib/components/FilterChip/FilterChip.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

refactor(FilterChip): drop the comments that explain the code
  lib/components/FilterChip/FilterChip.css.ts
  lib/components/FilterChip/FilterChip.spec.tsx
  lib/components/FilterChip/FilterChip.stories.tsx
  lib/components/FilterChip/FilterChip.tsx
Due: yarn run format:staged, yarn run lint:eslint

fix(FilterChip): render the interactive stories in one theme
  lib/components/FilterChip/FilterChip.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

feat(FilterChip): add DS-2026 filter chip component (#1368)
  .changeset/filter-chip.md
  docs/ds2026-plan/wave-2.md
  lib/components/FilterChip/FilterChip.css.ts
  lib/components/FilterChip/FilterChip.spec.tsx
  lib/components/FilterChip/FilterChip.stories.tsx
  lib/components/FilterChip/FilterChip.tsx
  lib/components/FilterChip/__snapshots__/FilterChip.spec.tsx.snap
  lib/components/FilterChip/default.ts
  lib/components/FilterChip/index.ts
  lib/components/index.ts
  lib/index.ts
  lib/themes/flat_red/tokens.ts
  lib/themes/neutral/tokens.ts
Due: yarn run format:staged, yarn run lint:eslint

chore(Modal): adopt DS-2026 typography and semantic tokens
  lib/components/MinimalModal/MinimalModal.css.ts
  lib/components/MinimalModal/MinimalModal.stories.tsx
  lib/components/Modal/Modal.stories.tsx
  lib/components/StandardModal/StandardModal.css.ts
  lib/components/StandardModal/StandardModal.stories.tsx
  lib/components/StandardModal/StandardModal.tsx
Due: yarn run format:staged, yarn run lint:eslint

test(StandardModal): refresh snapshot for DS-2026 title and background
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
Due: none

feat(Modal): lock page scroll while modal is open
  lib/components/Modal/Modal.tsx
  lib/components/Modal/__snapshots__/Modal.spec.jsx.snap
Due: yarn run format:staged, yarn run lint:eslint

chore: add od-prereview compliance check skill (AG-20958)
  .claude/skills/od-prereview/SKILL.md
Due: yarn run format:staged

ci: skip Chromatic on renovate branches, label-gated (AG-20962)
  .github/workflows/ci.yml
Due: yarn run format:staged

chore: add od-prereview compliance check skill (AG-20958) (#1372)
  .claude/skills/od-prereview/SKILL.md
Due: yarn run format:staged

ci: auto-draft PRs on push to conserve CI capacity (AG-20963)
  .github/workflows/ci.yml
  .github/workflows/pr-auto-draft.yml
Due: yarn run format:staged

ci: clarify in sticky notice that a green Chromatic check on a re-drafted SHA is a skip (AG-20963)
  .github/workflows/pr-auto-draft.yml
Due: yarn run format:staged

revert(Modal): drop page scroll lock
  lib/components/Modal/Modal.tsx
  lib/components/Modal/__snapshots__/Modal.spec.jsx.snap
Due: yarn run format:staged, yarn run lint:eslint

feat(Alert): migrate intent colours to DS-2026 semantic tokens
  .changeset/alert-new-tokens.md
  lib/components/Alert/Alert.css.ts
  lib/components/Alert/Alert.tsx
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
Due: yarn run format:staged, yarn run lint:eslint

chore(Modal): adopt DS-2026 typography and semantic tokens (#1371)
  lib/components/MinimalModal/MinimalModal.css.ts
  lib/components/MinimalModal/MinimalModal.stories.tsx
  lib/components/Modal/Modal.stories.tsx
  lib/components/StandardModal/StandardModal.css.ts
  lib/components/StandardModal/StandardModal.stories.tsx
  lib/components/StandardModal/StandardModal.tsx
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
Due: yarn run format:staged, yarn run lint:eslint

ci: auto-draft PRs on push to conserve CI capacity (AG-20963) (#1373)
  .github/workflows/ci.yml
  .github/workflows/pr-auto-draft.yml
Due: yarn run format:staged

fix(Alert): set displayName per component convention
  lib/components/Alert/Alert.tsx
Due: yarn run format:staged, yarn run lint:eslint

fix(Alert): address review — use z4 elevation token, drop css comment
  lib/components/Alert/Alert.css.ts
  lib/components/Alert/Alert.tsx
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
Due: yarn run format:staged, yarn run lint:eslint

test(Alert): assert intent → foreground token mapping per intent
  lib/components/Alert/Alert.spec.jsx
Due: yarn run format:staged, yarn run lint:eslint

feat(Alert): migrate intent colours to DS-2026 semantic tokens (#1374)
  .changeset/alert-new-tokens.md
  lib/components/Alert/Alert.spec.jsx
  lib/components/Alert/Alert.tsx
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
Due: yarn run format:staged, yarn run lint:eslint

feat(Tabs): add segmented appearance and finish DS-2026 token migration (FPAY-181)
  .changeset/tabs-segmented.md
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.css.ts
  lib/components/Tabs/TabList.tsx
  lib/components/Tabs/TabPane.tsx
  lib/components/Tabs/TabPanes.tsx
  lib/components/Tabs/Tabs.spec.jsx
  lib/components/Tabs/Tabs.stories.tsx
  lib/components/Tabs/Tabs.tsx
  lib/components/Tabs/__snapshots__/Tabs.spec.jsx.snap
  lib/components/Tabs/index.ts
  lib/components/index.ts
  lib/index.ts
Due: yarn run format:staged, yarn run lint:eslint

refactor(Tabs): map idle tab colour to foreground.secondary (FPAY-181)
  .changeset/tabs-segmented.md
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/Tabs.spec.jsx
  lib/components/Tabs/__snapshots__/Tabs.spec.jsx.snap
Due: yarn run format:staged, yarn run lint:eslint

docs(Tabs): correct changeset — idle colour change does reach existing appearances
  .changeset/tabs-segmented.md
Due: yarn run format:staged

fix(Tabs): address Copilot review — transition property, outline offset, story queries
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/Tabs.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

revert(Tabs): keep outlineOffset as -1px literal
  lib/components/Tabs/Tab.css.ts
Due: yarn run format:staged, yarn run lint:eslint

fix(Tabs): render the Segmented story at its intended 665px
  lib/components/Tabs/Tabs.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

fix(Tabs): address code review — overflow, docs, vacuous test; drop fixed story width
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/Tabs.spec.jsx
  lib/components/Tabs/Tabs.stories.tsx
  lib/components/Tabs/Tabs.tsx
Due: yarn run format:staged, yarn run lint:eslint

docs(Tabs): record tenant-theme effect of the full legacy-token removal
  .changeset/tabs-segmented.md
Due: yarn run format:staged

docs(Tabs): correct blast radius of the idle colour change
  .changeset/tabs-segmented.md
Due: yarn run format:staged

feat(Tabs): add segmented appearance and finish DS-2026 token migration (FPAY-181) (#1375)
  .changeset/tabs-segmented.md
  lib/components/Tabs/Tab.css.ts
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.css.ts
  lib/components/Tabs/TabList.tsx
  lib/components/Tabs/TabPane.tsx
  lib/components/Tabs/TabPanes.tsx
  lib/components/Tabs/Tabs.spec.jsx
  lib/components/Tabs/Tabs.stories.tsx
  lib/components/Tabs/Tabs.tsx
  lib/components/Tabs/__snapshots__/Tabs.spec.jsx.snap
  lib/components/Tabs/index.ts
  lib/components/index.ts
  lib/index.ts
Due: yarn run format:staged, yarn run lint:eslint

chore: consolidate the 4.64.0 changesets into one entry
  .changeset/alert-new-tokens.md
  .changeset/filter-chip-segmented-tabs.md
  .changeset/filter-chip.md
  .changeset/tabs-segmented.md
Due: yarn run format:staged

chore(Calendar): finish DS-2026 token repoint
  .changeset/calendar-ds2026-tokens.md
  docs/ds2026-plan/track-c.md
  lib/components/Calendar/Calendar.css.ts
Due: yarn run format:staged, yarn run lint:eslint

chore(Calendar): finish DS-2026 token repoint (#1376)
  .changeset/calendar-ds2026-tokens.md
  docs/ds2026-plan/track-c.md
  lib/components/Calendar/Calendar.css.ts
Due: yarn run format:staged, yarn run lint:eslint

fix(OverdriveProvider): gate primary button label contrast at 4.5:1 (FPAY-193)
  .changeset/tenant-branding-label-contrast.md
  lib/components/OverdriveProvider/useColorOverrides.spec.ts
  lib/components/OverdriveProvider/useColorOverrides.ts
  lib/index.ts
  lib/themes/helpers.spec.ts
  lib/themes/helpers.ts
Due: yarn run format:staged, yarn run lint:eslint

refactor(OverdriveProvider): name the contrast floor for what it is, not WCAG's text size
  lib/components/OverdriveProvider/useColorOverrides.ts
Due: yarn run format:staged, yarn run lint:eslint

refactor(OverdriveProvider): reuse ContrastUsage rather than a private role type
  lib/components/OverdriveProvider/useColorOverrides.ts
Due: yarn run format:staged, yarn run lint:eslint

refactor(OverdriveProvider): stop restating WCAG ratios in warning text
  lib/components/OverdriveProvider/useColorOverrides.spec.ts
  lib/components/OverdriveProvider/useColorOverrides.ts
Due: yarn run format:staged, yarn run lint:eslint

docs(changeset): align wording with the ContrastUsage vocabulary
  .changeset/tenant-branding-label-contrast.md
Due: yarn run format:staged

Path conditions:
  yarn run format:staged: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx,json,html,yml})
  yarn run lint:eslint: any of: *.{js,jsx,ts,tsx}
