Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run format:staged, yarn run lint:eslint

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
    - 'yarn run format:staged'
    - 'yarn run lint:eslint'
'*.{md,mdx,json,html,yml}':
    - 'yarn run format:staged'

fix(StarRating): use StarFilledIcon for filled stars
  lib/components/StarRating/StarRating.tsx
  lib/components/StarRating/__snapshots__/StarRating.spec.jsx.snap
Due: yarn run format:staged, yarn run lint:eslint

chore: re-flag @autoguru/icons 2.0 peer-dep bump as a major release
  .changeset/icons-2-peer-major.md
Due: yarn run format:staged

feat: upgrade @autoguru/icons to 2.1.0 (full Phosphor 2.1 set + categories)
  .changeset/full-phosphor-2-1-icon-set.md
  lib/stories/iconCategories.ts
  package.json
Due: yarn run format:staged, yarn run lint:eslint

fix: sync yarn.lock with @autoguru/icons 2.1.0
  yarn.lock
Due: none

feat: upgrade @autoguru/icons to 2.1.0 (full Phosphor 2.1 set + categories) (#1347)
  .changeset/full-phosphor-2-1-icon-set.md
  lib/stories/iconCategories.ts
  package.json
  yarn.lock
Due: yarn run format:staged, yarn run lint:eslint

chore: enrich @autoguru/icons 2.1.0 changeset (patch → minor)
  .changeset/full-phosphor-2-1-icon-set.md
Due: yarn run format:staged

chore: update changelog for @autoguru/icons 2.1.0 release
  .changeset/full-phosphor-2-1-icon-set.md
Due: yarn run format:staged

chore: polish icons 2.1.0 changeset wording
  .changeset/full-phosphor-2-1-icon-set.md
Due: yarn run format:staged

chore: trim icons 2.1.0 changeset to essentials
  .changeset/full-phosphor-2-1-icon-set.md
Due: yarn run format:staged

chore: enrich @autoguru/icons 2.1.0 changeset (patch → minor) (#1349)
  .changeset/full-phosphor-2-1-icon-set.md
Due: yarn run format:staged

feat: adopt Design System 2026 colour ramps (AG-19959)
  lib/components/DateTimeField/DateTimeField.css.ts
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/Slider/Slider.css.ts
  lib/components/Table/TableCell.css.ts
  lib/stories/borders.stories.tsx
  lib/stories/palette.mdx
  lib/stories/palette.stories.tsx
  lib/stories/space.stories.tsx
  lib/themes/base/colours.ts
  lib/themes/flat_red/tokens.ts
  lib/themes/neutral/tokens.ts
  lib/themes/theme.css.ts
Due: yarn run format:staged, yarn run lint:eslint

chore: tidy palette docs labels (uppercase hex, drop subtitles)
  lib/stories/palette.mdx
Due: yarn run format:staged

docs: move palette source/deprecation notes into changeset
  .changeset/ds-2026-colour-ramps.md
  lib/stories/palette.mdx
Due: yarn run format:staged

docs: add core brand swatches to palette page
  lib/stories/palette.mdx
Due: yarn run format:staged

feat: add Design System 2026 contrast guide (AG-19959)
  .changeset/ds-2026-colour-ramps.md
  lib/stories/contrast-guide.mdx
  lib/stories/palette.mdx
  lib/themes/base/contrastGuide.spec.ts
  lib/themes/base/contrastGuide.ts
  lib/themes/index.ts
Due: yarn run format:staged, yarn run lint:eslint

docs: cleaner grouped layout for contrast guide page
  lib/stories/contrast-guide.mdx
Due: yarn run format:staged

docs: add proposed DS 2026 contrast fixes to Theme Colours story
  lib/stories/theme.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

docs: add Theme Colours 2026 proposal story
  lib/stories/theme.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

docs: drop proposals section from Theme Colours story (covered by 2026 tab)
  lib/stories/theme.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

docs: add usage props reference and token-based dynamic palette to Palette page
  lib/stories/palette.mdx
Due: yarn run format:staged

docs: rename Palette page to Colour Palette
  lib/stories/contrast-guide.mdx
  lib/stories/palette.mdx
Due: yarn run format:staged

docs: redesign contrast guide as whitelist-first contrast grids
  lib/stories/contrast-guide.mdx
Due: yarn run format:staged

docs: compact contrast guide to palette-style strips
  lib/stories/contrast-guide.mdx
Due: yarn run format:staged

docs: polish Theme Colours 2026 story design
  lib/stories/theme.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

docs: categorise Theme Colours 2026 tokens with usage descriptions
  lib/stories/theme.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

docs: centre Theme Colours 2026 with docs-page margins
  lib/stories/theme.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

fix(themes): repoint semantic text tokens to AA-safe Figma shades
  lib/themes/base/contrastGuide.spec.ts
  lib/themes/base/tokens.ts
Due: yarn run format:staged, yarn run lint:eslint

chore(themes): drop explanatory comments from colour token changes
  lib/themes/base/contrastGuide.spec.ts
  lib/themes/base/tokens.ts
Due: yarn run format:staged, yarn run lint:eslint

docs(colour): open-source cleanup of colour foundation stories
  lib/stories/contrast-guide.mdx
  lib/stories/palette.mdx
  lib/stories/theme.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

docs(colour): plainer palette copy — "colour" over "hue", drop em-dash
  lib/stories/palette.mdx
Due: yarn run format:staged

docs(colour): unify Foundation colour pages as consistent stories
  .storybook/overdriveDecorator.tsx
  lib/stories/helpers/styles.css.ts
  lib/stories/palette.mdx
  lib/stories/palette.stories.tsx
  lib/stories/theme.stories.tsx
Due: yarn run format:staged, yarn run lint:eslint

chore(themes): drop explanatory comments from contrast guide spec
  lib/themes/base/contrastGuide.spec.ts
Due: yarn run format:staged, yarn run lint:eslint

refactor(themes): remove the deprecated black ramp
  lib/themes/base/colours.ts
  lib/themes/flat_red/tokens.ts
  lib/themes/neutral/tokens.ts
  lib/themes/theme.css.ts
Due: yarn run format:staged, yarn run lint:eslint

refactor(themes): inline the gray ramp into the colour map
  lib/themes/base/colours.ts
Due: yarn run format:staged, yarn run lint:eslint

refactor(themes): inline the gray ramp in flat_red and neutral
  lib/themes/flat_red/tokens.ts
  lib/themes/neutral/tokens.ts
Due: yarn run format:staged, yarn run lint:eslint

docs(ds2026): add migration master plan + per-wave execution plans
  design-system-2026-migration-plan.md
  docs/ds2026-plan/track-c.md
  docs/ds2026-plan/wave-0.md
  docs/ds2026-plan/wave-1.md
  docs/ds2026-plan/wave-2.md
  docs/ds2026-plan/wave-3.md
  docs/ds2026-plan/wave-4.md
Due: yarn run format:staged
