Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:eslint, yarn run format:staged

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
    - 'yarn run lint:eslint'
    - 'yarn run format:staged'
'*.{md,mdx,json,html,yml}':
    - 'yarn run format:staged'

fix: Switch css ordering, adds css layer
  lib/components/Switch/Switch.css.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: storybook control issue with JSX children prop
  lib/components/Alert/Alert.stories.tsx
  lib/components/DropDown/DropDown.stories.tsx
  lib/components/FillHeightBox/FillHeightBox.stories.tsx
  lib/components/MinimalModal/MinimalModal.stories.tsx
  lib/components/Modal/Modal.stories.tsx
  lib/components/ScrollPane/ScrollPane.stories.tsx
  lib/components/Section/Section.stories.tsx
  lib/components/SelectInput/SelectInput.stories.tsx
  lib/components/StandardModal/StandardModal.stories.tsx
  lib/components/Switch/Switch.stories.tsx
  lib/components/Tooltip/Tooltip.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

test: snapshot
  lib/components/Switch/__snapshots__/Switch.spec.jsx.snap
Due: none

chore: changeset
  .changeset/young-jeans-fold.md
Due: yarn run format:staged

patch: Switch hover style (#1233)
  .changeset/young-jeans-fold.md
  lib/components/Alert/Alert.stories.tsx
  lib/components/DropDown/DropDown.stories.tsx
  lib/components/FillHeightBox/FillHeightBox.stories.tsx
  lib/components/MinimalModal/MinimalModal.stories.tsx
  lib/components/Modal/Modal.stories.tsx
  lib/components/ScrollPane/ScrollPane.stories.tsx
  lib/components/Section/Section.stories.tsx
  lib/components/SelectInput/SelectInput.stories.tsx
  lib/components/StandardModal/StandardModal.stories.tsx
  lib/components/Switch/Switch.css.ts
  lib/components/Switch/Switch.stories.tsx
  lib/components/Switch/__snapshots__/Switch.spec.jsx.snap
  lib/components/Tooltip/Tooltip.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: bump dev deps
  package.json
  yarn.lock
Due: yarn run format:staged

chore: bump react-aria, stately deps
  package.json
  yarn.lock
Due: yarn run format:staged

chore: align peer deps
  package.json
  yarn.lock
Due: yarn run format:staged

feat: key handling
  .changeset/twelve-tires-shout.md
  lib/components/Tabs/TabList.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: requestAnimationFrame
  lib/components/Tabs/TabList.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: adds tab refs handling to Tabs context
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.tsx
  lib/components/Tabs/Tabs.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: nullish handing
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: mutable tab ref handling
  lib/components/Tabs/Tab.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: Tabs context memoisation
  lib/components/Tabs/Tabs.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: Tab ref type, imports
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabPane.tsx
  lib/components/Tabs/TabPanes.tsx
  lib/components/Tabs/Tabs.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: spec linting, formatting
  lib/components/Actions/Actions.spec.tsx
  lib/components/AutoSuggest/AutoSuggest.spec.tsx
  lib/components/AutoSuggest/useLayoutSuggestionVisible.spec.tsx
  lib/components/Flyout/Flyout.spec.tsx
  lib/components/LoadingBox/LoadingBox.spec.tsx
  lib/components/TextContainer/TextContainer.spec.tsx
  lib/components/Toaster/Toast.spec.tsx
  lib/utils/responsiveStyle.spec.ts
  lib/utils/utils.spec.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: Tabs keyboard accessibility (#1231)
  .changeset/twelve-tires-shout.md
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/TabList.tsx
  lib/components/Tabs/TabPane.tsx
  lib/components/Tabs/TabPanes.tsx
  lib/components/Tabs/Tabs.stories.tsx
  lib/components/Tabs/Tabs.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: spec linting, remove failing test cases
  lib/components/Actions/Actions.spec.tsx
  lib/components/AutoSuggest/AutoSuggest.spec.tsx
  lib/components/AutoSuggest/useLayoutSuggestionVisible.spec.tsx
  lib/components/Flyout/Flyout.spec.tsx
  lib/components/Toaster/Toast.spec.tsx
  lib/utils/utils.spec.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: migrates vitest workspace config
  CLAUDE.md
  vite.config.ts
  vitest.workspace.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: Claude init
  CLAUDE.md
Due: yarn run format:staged

test: adding specs
  lib/components/Box/polymorphicBox/PolymorphicBox.spec.tsx
  lib/components/OptionGrid/OptionGrid.spec.tsx
  lib/components/SearchBar/SearchBar.spec.tsx
  lib/components/TextLink/TextLink.spec.tsx
  lib/hooks/useAttachedBoxes/useAttachedBoxes.spec.tsx
  lib/hooks/useMedia/useMedia.spec.ts
  lib/utils/css.spec.ts
  lib/utils/object.spec.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: format
  lib/components/Columns/Columns.spec.tsx
  lib/components/Heading/Heading.spec.tsx
  lib/components/OverdriveProvider/OverdriveProvider.spec.tsx
  lib/components/ProgressSpinner/ProgressSpinner.spec.tsx
  lib/components/ScrollPane/ScrollPane.spec.tsx
  lib/components/Text/Text.spec.tsx
  lib/components/VisuallyHidden/VisuallyHidden.spec.tsx
  lib/hooks/useDeepCompareMemo/useDeepCompareMemo.spec.tsx
  lib/hooks/useResponsiveValue/useResponsiveValue.spec.tsx
Due: yarn run lint:eslint, yarn run format:staged

Expand test coverage for foundational Overdrive components and utilities (#1243)
  CLAUDE.md
  lib/components/Actions/Actions.spec.tsx
  lib/components/Box/polymorphicBox/PolymorphicBox.spec.tsx
  lib/components/Columns/Columns.spec.tsx
  lib/components/Flyout/Flyout.spec.tsx
  lib/components/Heading/Heading.spec.tsx
  lib/components/LoadingBox/LoadingBox.spec.tsx
  lib/components/OptionGrid/OptionGrid.spec.tsx
  lib/components/OverdriveProvider/OverdriveProvider.spec.tsx
  lib/components/ProgressSpinner/ProgressSpinner.spec.tsx
  lib/components/ScrollPane/ScrollPane.spec.tsx
  lib/components/SearchBar/SearchBar.spec.tsx
  lib/components/Text/Text.spec.tsx
  lib/components/TextContainer/TextContainer.spec.tsx
  lib/components/TextLink/TextLink.spec.tsx
  lib/components/VisuallyHidden/VisuallyHidden.spec.tsx
  lib/hooks/useAttachedBoxes/useAttachedBoxes.spec.tsx
  lib/hooks/useDeepCompareMemo/useDeepCompareMemo.spec.tsx
  lib/hooks/useMedia/useMedia.spec.ts
  lib/hooks/useResponsiveValue/useResponsiveValue.spec.tsx
  lib/utils/css.spec.ts
  lib/utils/object.spec.ts
  lib/utils/responsiveStyle.spec.ts
  lib/utils/utils.spec.ts
  vite.config.ts
  vitest.workspace.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: CLAUDE
  CLAUDE.md
Due: yarn run format:staged

refactor: OptionList css
  lib/components/OptionList/OptionList.css.ts
  lib/components/OptionList/OptionListItem.tsx
Due: yarn run lint:eslint, yarn run format:staged

refactor: DateTimePicker style
  lib/components/DateTimePicker/DateTimePicker.css.ts
  lib/components/OptionList/OptionList.css.ts
  lib/styles/selectors.ts
Due: yarn run lint:eslint, yarn run format:staged

refactor: selectors
  lib/components/DateTimePicker/DateTimePicker.css.ts
  lib/components/OptionList/OptionList.css.ts
  lib/styles/selectors.ts
Due: yarn run lint:eslint, yarn run format:staged

refactor: OptionGrid css
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/OptionGrid/OptionGrid.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: inconsistencies
  lib/components/DateTimePicker/CalendarButton.tsx
  lib/components/DateTimePicker/CalendarGrid.tsx
  lib/components/DateTimePicker/DateTimePicker.css.ts
  lib/components/OptionList/OptionList.css.ts
  lib/components/OptionList/OptionListItem.tsx
Due: yarn run lint:eslint, yarn run format:staged

refactor: SearchBar css
  lib/components/SearchBar/SearchBar.css.ts
  lib/components/SearchBar/SearchBar.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: remove anti-pattern interactionStyle
  lib/styles/selectors.ts
  lib/utils/css.ts
Due: yarn run lint:eslint, yarn run format:staged

test: additional test coverage
  lib/components/AutoSuggest/AutoSuggest.spec.tsx
  lib/components/DateTimePicker/DateTimePicker.spec.tsx
  lib/components/OptionList/OptionList.spec.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/early-numbers-fry.md
Due: yarn run format:staged

feat: converts clearButtonStyle to a recipe for functional logic
  lib/components/SearchBar/SearchBar.css.ts
  lib/components/SearchBar/SearchBar.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: add PR creation and management command
  .claude/commands/pr.md
Due: yarn run format:staged

feat: add component generation command
  .claude/commands/component.md
Due: yarn run format:staged

feat: update command meta
  .claude/commands/component.md
  .claude/commands/pr.md
Due: yarn run format:staged
