Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:eslint, yarn run format:staged

refactor: ThemeOverride to reduce complexity
  lib/components/ThemeOverrideProvider/ThemeOverrideProvider.tsx
  lib/components/ThemeOverrideProvider/useBuildThemeOverrides.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: creates UnifiedThemeProvider supporting theme switching without overrides
  .storybook/overdriveDecorator.tsx
  lib/components/UnifiedThemeProvider/UnifiedThemeProvider.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: update readme doc
  .storybook/preview.tsx
  readme.md
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/tricky-jobs-learn.md
Due: yarn run format:staged

chore: remove unused ts-expect-error
  lib/components/Portal/Portal.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: redevolop OverdriveProvider starting with theme only
  lib/components/OverdriveProvider/OverdriveProvider.tsx
  readme.md
Due: yarn run lint:eslint, yarn run format:staged

feat: nest overrides props and memoisation
  lib/components/OverdriveProvider/OverdriveProvider.tsx
  package.json
  yarn.lock
Due: yarn run lint:eslint, yarn run format:staged

feat: incorporating RuntimeTokensContext into unified provider
  lib/components/OverdriveProvider/OverdriveProvider.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: noBodyLevelTheming prop and additional overrides logic
  lib/components/OverdriveProvider/OverdriveProvider.tsx
  lib/components/UnifiedThemeProvider/UnifiedThemeProvider.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: replace ThemeProvider with new OverdriveProvider within components
  .storybook/preview.tsx
  lib/components/OverdriveProvider/index.ts
  lib/components/Portal/Portal.tsx
  lib/components/index.ts
  lib/hooks/useMedia/useMedia.ts
  lib/hooks/useWindowHeightFill/useWindowHeightFill.ts
  lib/test/vitest-setup.ts
  readme.md
Due: yarn run lint:eslint, yarn run format:staged

refactor: makes Portal more predictable, isolate risky effect from `.current`
  lib/components/Portal/Portal.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: add safety checks to OverdriveProvider props, extracts override styles as hook, ThemeProvider fallback with warning
  lib/components/OverdriveProvider/OverdriveProvider.tsx
  lib/components/OverdriveProvider/ThemeProvider.tsx
  lib/components/OverdriveProvider/index.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: provider updates in overdriveDecorator
  .storybook/overdriveDecorator.tsx
  lib/components/MinimalModal/MinimalModal.stories.tsx
  lib/components/StandardModal/StandardModal.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: remove deprecated providers
  lib/components/OverdriveProvider/ThemeProvider.tsx
  lib/components/ThemeOverrideProvider/ThemeOverrideProvider.tsx
  lib/components/ThemeOverrideProvider/index.ts
  lib/components/ThemeOverrideProvider/useBuildThemeOverrides.ts
  lib/components/ThemeProvider/ThemeProvider.tsx
  lib/components/ThemeProvider/index.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: provider fallbacks for ThemeOverrideProvider
  lib/components/OverdriveProvider/FallbackProvider.tsx
  lib/components/OverdriveProvider/index.ts
  lib/components/index.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: overrideStyles added to useTheme context, extracts useColorOverrides hook
  lib/components/OverdriveProvider/OverdriveProvider.tsx
  lib/components/OverdriveProvider/useColorOverrides.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: partial migration of ThemeOverrideDebugger
  lib/components/OverdriveProvider/OverdriveProvider.tsx
  lib/components/OverdriveProvider/ThemeOverrideDebugger.tsx
  lib/components/OverdriveProvider/index.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: renaming `overrides` to `colorOverrides`
  .storybook/overdriveDecorator.tsx
  lib/components/OverdriveProvider/OverdriveProvider.tsx
  lib/components/OverdriveProvider/ThemeOverrideDebugger.tsx
  lib/components/OverdriveProvider/useColorOverrides.ts
  readme.md
Due: yarn run lint:eslint, yarn run format:staged

chore(deps): keep package.json in sync
  package.json
  yarn.lock
Due: yarn run format:staged

chore(deps): additional deps including React minor
  package.json
  yarn.lock
Due: yarn run format:staged

test: snaps
  lib/components/CheckBox/__snapshots__/CheckBox.spec.jsx.snap
  lib/components/Radio/__snapshots__/Radio.spec.jsx.snap
Due: none

Improve Storybook decorator (#1107)
  .changeset/tricky-jobs-learn.md
  .storybook/ag-theme.js
  .storybook/ag-theme.ts
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/overdriveDecorator.tsx
  .storybook/preview.tsx
  .storybook/withThemeProvider.tsx
  lib/components/OverdriveProvider/OverdriveProvider.tsx
  lib/components/Portal/Portal.tsx
  lib/components/ThemeProvider/ThemeProvider.tsx
Due: yarn run lint:eslint, yarn run format:staged

Text: allow use as label (#1105)
  .changeset/wet-mammals-remain.md
  CHANGELOG.md
  lib/components/Text/Text.stories.tsx
  lib/components/Text/Text.tsx
  lib/components/Text/useTextStyles.ts
Due: yarn run lint:eslint, yarn run format:staged

chore(version): enter prerelease
  .changeset/pre.json
  .changeset/solid-taxes-beg.md
  CHANGELOG.md
  package.json
Due: yarn run format:staged

feat(workflows): add automated prerelease check and publish to feature branches
  .github/workflows/prerelease.yml
Due: yarn run format:staged

feat(workflows): call prerelease check in ci
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
Due: yarn run format:staged

fix(workflow): prerelease
  .github/workflows/prerelease.yml
Due: yarn run format:staged

fix(workflow): ai generated wrong name
  .github/workflows/prerelease.yml
Due: yarn run format:staged

feat(workflows): don't need prerelease workflow, just need to customise existing release.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: yarn run format:staged

fix(package.json): updates `repository`, disables automated prerelease for now
  .github/workflows/ci.yml
  package.json
Due: yarn run format:staged

chore(deps): lock version for renovate bot
  package.json
  yarn.lock
Due: yarn run format:staged

feat: adds `fontFamily` to tokens
  lib/themes/base/tokens.ts
  lib/themes/neutral/tokens.ts
  lib/themes/theme.css.ts
  lib/themes/tokens.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: enabling theme contract for global vars
  lib/themes/theme.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: simplify global styles and use global theme vars
  .storybook/overdriveDecorator.tsx
  lib/reset/globalReset.css.ts
  lib/themes/base/vars.css.ts
  lib/themes/theme.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: move `container` reset to reset.css
  lib/components/OverdriveProvider/OverdriveProvider.tsx
  lib/reset/globalReset.css.ts
  lib/reset/reset.css.ts
  lib/themes/theme.css.ts
Due: yarn run lint:eslint, yarn run format:staged

chore(changeset): prerelease
  .changeset/better-cooks-sneeze.md
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: yarn run format:staged

chore: testing prerelease publish
  .changeset/cold-bars-read.md
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: yarn run format:staged

Path conditions:
  yarn run lint:eslint: any of: *.{js,jsx,ts,tsx}
  yarn run format:staged: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx,json,html,yml})
