Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:eslint, yarn run format:staged

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
    - 'yarn run lint:eslint'
    - 'yarn run format:staged'
'*.{md,mdx,json,html,yml}':
    - 'yarn run format:staged'

chore: configures bundle analasis via rollup-plugin-visualizer
  .gitignore
  package.json
  vite.config.ts
  yarn.lock
Due: yarn run lint:eslint, yarn run format:staged

chore: separate vite config
  package.json
  vite-analyse.config.ts
  vite.config.ts
Due: yarn run lint:eslint, yarn run format:staged

refactor: Positioner uses floating-ui
  lib/components/Positioner/Positioner.tsx
  package.json
  yarn.lock
Due: yarn run lint:eslint, yarn run format:staged

chore: bump Storybook minor
  package.json
  yarn.lock
Due: yarn run format:staged

chore: format
  package.json
Due: yarn run format:staged

chore: update peerDeps
  package.json
  vite-analyse.config.ts
  yarn.lock
Due: yarn run lint:eslint, yarn run format:staged

chore: bump Storybook patch
  package.json
  yarn.lock
Due: yarn run format:staged

feat: updating Button style
  lib/components/Button/Button.css.ts
  lib/components/Button/Button.stories.tsx
  lib/components/Button/Button.tsx
  lib/themes/base/tokens.ts
Due: yarn run lint:eslint, yarn run format:staged

#1056 bundle analysis (#1057)
  .gitignore
  package.json
  vite-analyse.config.ts
  yarn.lock
Due: yarn run lint:eslint, yarn run format:staged

deploy: 02ef9bc7f2bd4e01470e3ad3116ed2217a6e3df9
  project.json
Due: yarn run format:staged

deploy: 480ca87456a8ef9996277fc8d6195e107253d827
  project.json
Due: yarn run format:staged

chore: bump babel-preset
  package.json
  yarn.lock
Due: yarn run format:staged

deploy: fe2d9749522b94339eea84433a6398b6782f7b3e
  assets/AutoSuggest.stories-Bp_C4UGI.js
  assets/AutoSuggest.stories-D088YScF.js
  assets/Color-YHDXOIA2-C0KRlba-.js
  assets/Color-YHDXOIA2-Di4eJP7L.js
  assets/DocsRenderer-CFRXHY34-COwthcfQ.js
  assets/DocsRenderer-CFRXHY34-DzCfwa_K.js
  assets/entry-preview-CjY1cZs6.js
  assets/iframe-BQlaJPHV.js
  assets/index-CskWwZPQ.js
  assets/preview-CF2rqDVY.js
  assets/preview-D-5dC2mN.js
  assets/preview-DSUKHwVY.js
  assets/preview-kt2fQ07T.js
  assets/welcome-B0oW1DWq.js
  iframe.html
  project.json
Due: yarn run lint:eslint, yarn run format:staged

feat: refactor Button.css as recipe
  lib/components/Button/Button.css.ts
Due: yarn run lint:eslint, yarn run format:staged

refactor: Button.css
  lib/components/Button/Button.css.ts
Due: yarn run lint:eslint, yarn run format:staged

refactor: simplify Button states and size
  lib/components/Button/Button.tsx
Due: yarn run lint:eslint, yarn run format:staged

refactor: corrections to Button recipe
  lib/components/Button/Button.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: Button focus outline, org story
  lib/components/Button/Button.css.ts
  lib/components/Button/Button.stories.tsx
  lib/components/SearchBar/SearchBar.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: changeset
  .changeset/warm-cases-peel.md
Due: yarn run format:staged

chore: Button.spec fixes, snaps
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
  lib/components/Anchor/__snapshots__/Anchor.spec.jsx.snap
  lib/components/Button/Button.spec.jsx
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
  lib/components/DropDown/__snapshots__/DropDown.spec.jsx.snap
  lib/components/HorizontalAutoScroller/__snapshots__/HorizontalAutoScroller.spec.jsx.snap
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

fix: missing focus-visible
  lib/components/Button/Button.css.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: `test:ci` command for vitest
  package.json
Due: yarn run format:staged

fix: some Box argtypes dynamic from tokens
  lib/components/Box/argTypes.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: improve Box story
  lib/components/Box/Box.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: bump deps
  package.json
  yarn.lock
Due: yarn run format:staged

chore: consolidate Button stories, removes pill examples
  lib/components/Button/Button.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: reinstate active transform
  lib/components/Button/Button.css.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: adds language content for loading description, more reliable button label
  lib/components/Button/Button.stories.tsx
  lib/components/Button/Button.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: snap
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
Due: none

Button visual uplfit (#1061)
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
  lib/components/Anchor/__snapshots__/Anchor.spec.jsx.snap
  lib/components/Button/Button.css.ts
  lib/components/Button/Button.spec.jsx
  lib/components/Button/Button.stories.tsx
  lib/components/Button/Button.tsx
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
  lib/components/DropDown/__snapshots__/DropDown.spec.jsx.snap
  lib/components/HorizontalAutoScroller/__snapshots__/HorizontalAutoScroller.spec.jsx.snap
  lib/components/SearchBar/SearchBar.stories.tsx
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
  lib/themes/base/tokens.ts
Due: yarn run lint:eslint, yarn run format:staged

Fix Box story argtypes (#1064)
  lib/components/Box/Box.stories.tsx
  lib/components/Box/argTypes.ts
  package.json
  yarn.lock
Due: yarn run lint:eslint, yarn run format:staged

deploy: c0beb82fc1d092e8a080fd76719db8842f1027b1
  assets/AutoSuggest.stories-Bp_C4UGI.js
  assets/AutoSuggest.stories-D088YScF.js
  assets/Box.stories-CdbYrcYv.js
  assets/Box.stories-bKwP4zjw.js
  assets/Color-YHDXOIA2-C0KRlba-.js
  assets/Color-YHDXOIA2-Dv9ituHs.js
  assets/Columns.stories-B2fDtTKX.js
  assets/Columns.stories-CWiWjbaX.js
  assets/DocsRenderer-CFRXHY34-BQLfqLUV.js
  assets/DocsRenderer-CFRXHY34-DzCfwa_K.js
  assets/HorizontalAutoScroller.stories-CvVuPLrs.js
  assets/HorizontalAutoScroller.stories-DN7Cukul.js
  assets/Inline.stories-DztWluRz.js
  assets/LoadingBox.stories-C3nu5Uj9.js
  assets/LoadingBox.stories-Dl1KI1B2.js
  assets/Section.stories-CJNd0Es-.js
  assets/Section.stories-CSvdRkbL.js
  assets/SliderProgress.stories-BJrBM_I4.js
  assets/Stack.stories-CT5ZGZ7S.js
  assets/TextInput.stories-CR9S5bVc.js
  assets/argTypes-BMKtjgb3.js
  assets/argTypes-DGLoH3Pe.js
  assets/entry-preview-D-8y0n50.js
  assets/icons.stories-BEFio2Ax.js
  assets/icons.stories-Cxh7eaAL.js
  assets/iframe-D6WtyQrp.js
  assets/index-B4EWj5nR.js
  assets/preview-731dV2lO.js
  assets/preview-DSUKHwVY.js
  assets/preview-DiMKS_Wl.js
  assets/preview-kt2fQ07T.js
  assets/welcome-BZz4uf8w.js
  iframe.html
  index.json
  project.json
  sb-manager/globals-runtime.js
Due: yarn run lint:eslint, yarn run format:staged

feat: uplift CheckBox
  lib/components/CheckBox/CheckBox.css.ts
  lib/components/CheckBox/CheckBox.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: improve CheckableBase a11y
  lib/components/private/CheckableBase/CheckableBase.css.ts
  lib/components/private/CheckableBase/CheckableBase.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: removes individual story
  lib/components/DropDown/DropDown.stories.tsx
  lib/components/SearchBar/SearchBar.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: allows checkbox stories to be toggled
  lib/components/CheckBox/CheckBox.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: adds focus outline to CheckableBase.css
  lib/components/private/CheckableBase/CheckableBase.css.ts
  lib/components/private/CheckableBase/useCheckableStyles.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: CheckBox uses shared focus outline
  lib/components/CheckBox/CheckBox.css.ts
  lib/components/CheckBox/CheckBox.tsx
Due: yarn run lint:eslint, yarn run format:staged
