Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:eslint, yarn run format:staged

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
    - 'yarn run lint:eslint'
    - 'yarn run format:staged'
'*.{md,mdx,json,html,yml}':
    - 'yarn run format:staged'

chore(deps): more patch and minor bumps
  lib/components/Switch/__snapshots__/Switch.spec.jsx.snap
  package.json
  yarn.lock
Due: yarn run format:staged

fix: sprinkles is now peer dep for type checking
  package.json
Due: yarn run format:staged

feat: custom `alignSelf` values in Column recipe
  .changeset/shiny-readers-own.md
  lib/components/Columns/Column.css.ts
  lib/components/Columns/Column.tsx
Due: yarn run lint:eslint, yarn run format:staged

refactor: numerical style props converted to text for better autocompletion
  .changeset/tall-dogs-rhyme.md
  lib/components/AutoSuggest/AutoSuggest.tsx
  lib/components/BulletText/BulletText.tsx
  lib/components/ColourInput/ColourInput.tsx
  lib/components/Columns/Column.tsx
  lib/components/Columns/Columns.stories.tsx
  lib/components/DateTimePicker/DateTimePicker.tsx
  lib/components/HorizontalAutoScroller/HorizontalAutoScroller.tsx
  lib/components/MinimalModal/MinimalModal.tsx
  lib/components/MinimalModal/__snapshots__/MinimalModal.spec.jsx.snap
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/OptionList/OptionList.css.ts
  lib/components/SelectInput/SelectInput.tsx
  lib/components/StandardModal/StandardModal.tsx
  lib/stories/shared/argTypes-box.ts
  lib/styles/sprinkles.css.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: lockfile
  yarn.lock
Due: none

fix: heading story test
  lib/components/Heading/Heading.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: Bullet box sizing, unwanted scrollbar gutter property from reset
  lib/components/BulletList/Bullet.css.ts
  lib/styles/global.css.ts
Due: yarn run lint:eslint, yarn run format:staged

4.43 patch: @vanilla-extract/sprinkles peer dependency (#1157)
  .changeset/shiny-readers-own.md
  .changeset/tall-dogs-rhyme.md
  lib/components/AutoSuggest/AutoSuggest.tsx
  lib/components/BulletText/BulletText.tsx
  lib/components/ColourInput/ColourInput.tsx
  lib/components/Columns/Column.css.ts
  lib/components/Columns/Column.tsx
  lib/components/Columns/Columns.stories.tsx
  lib/components/DateTimePicker/DateTimePicker.tsx
  lib/components/HorizontalAutoScroller/HorizontalAutoScroller.tsx
  lib/components/MinimalModal/MinimalModal.tsx
  lib/components/MinimalModal/__snapshots__/MinimalModal.spec.jsx.snap
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/OptionList/OptionList.css.ts
  lib/components/SelectInput/SelectInput.tsx
  lib/components/StandardModal/StandardModal.tsx
  lib/stories/shared/argTypes-box.ts
  lib/styles/sprinkles.css.ts
  package.json
  yarn.lock
Due: yarn run lint:eslint, yarn run format:staged

chore: update changelog
  CHANGELOG.md
Due: yarn run format:staged

chore: tag stories
  lib/components/Anchor/Anchor.stories.tsx
  lib/components/Anchor/Anchor.tsx
  lib/components/Box/Box.stories.tsx
  lib/components/Button/Button.stories.tsx
  lib/components/Columns/Columns.stories.tsx
  lib/components/Inline/Inline.stories.tsx
  lib/components/Section/Section.stories.tsx
  lib/components/Stack/Stack.stories.tsx
  lib/components/Text/Text.stories.tsx
  lib/components/VisuallyHidden/VisuallyHidden.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: adds simple prop guard so textStyles can take a polymorphic `as` prop
  lib/components/Heading/Heading.tsx
  lib/components/Text/Text.tsx
  lib/components/Text/textStyles.ts
  lib/utils/propGuards.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: adds text wrapping sprinkle, balances headings, deprecates Text `noWrap` prop
  .changeset/bumpy-taxes-stick.md
  .changeset/shy-pianos-itch.md
  lib/components/Heading/Heading.stories.tsx
  lib/styles/reset.css.ts
  lib/styles/sprinkles.css.ts
  lib/styles/typography.css.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: remove duplicate
  lib/utils/refs.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: replementing Button based on react-aria, migrating more props to button recipe
  lib/components/Button/Button.css.ts
  lib/components/Button/Button.stories.tsx
  lib/components/Button/Button.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: TextProps to correct `colour` prop types
  lib/components/Text/Text.stories.tsx
  lib/components/Text/Text.tsx
  lib/components/Text/textStyles.ts
  lib/styles/sprinkles.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: migrate TextLink to useBox, keep props compatible, adds common focus outline to `a` reset
  .changeset/bumpy-taxes-stick.md
  lib/components/TextLink/TextLink.stories.tsx
  lib/components/TextLink/TextLink.tsx
  lib/components/TextLink/__snapshots__/TextLink.spec.jsx.snap
  lib/styles/reset.css.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: include sprinkes and tokens in lib index
  lib/index.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: noopener typo, add TextLink play fn instead of spec
  lib/components/TextLink/TextLink.spec.jsx
  lib/components/TextLink/TextLink.stories.tsx
  lib/components/TextLink/TextLink.tsx
  lib/components/TextLink/__snapshots__/TextLink.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

chore(deps): sync package.json versions
  package.json
  yarn.lock
Due: yarn run format:staged

chore(deps): bump
  package.json
  yarn.lock
Due: yarn run format:staged

Update CHANGELOG.md
  CHANGELOG.md
Due: yarn run format:staged

fix: default `noWrap: false` on Columns
  .changeset/puny-cats-switch.md
  lib/components/Columns/Columns.css.ts
Due: yarn run lint:eslint, yarn run format:staged

fix: default `noWrap: false` on Columns (#1161)
  .changeset/puny-cats-switch.md
  lib/components/Columns/Columns.css.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: changelog
  CHANGELOG.md
Due: yarn run format:staged

feat: implementing Button
  lib/components/Button/Button.css.ts
  lib/components/Button/Button.stories.tsx
  lib/components/Button/Button.tsx
  lib/components/Text/Text.stories.tsx
  lib/components/TextLink/TextLink.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: `disable` props
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
  lib/components/DropDown/__snapshots__/DropDown.spec.jsx.snap
  lib/components/HorizontalAutoScroller/__snapshots__/HorizontalAutoScroller.spec.jsx.snap
  lib/components/SimplePagination/SimplePagination.tsx
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
  lib/utils/index.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: implement double click timeout on Button
  lib/components/Button/Button.spec.jsx
  lib/components/Button/Button.stories.tsx
  lib/components/Button/Button.tsx
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
  lib/components/DropDown/DropDown.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: Button polish
  lib/components/Button/Button.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: first draft of copilot instructions
  .github/copilot-instructions.md
Due: yarn run format:staged

feat: add StyledButton for use without tightly coupled button specialisation
  lib/components/Button/Button.css.ts
  lib/components/Button/Button.stories.tsx
  lib/components/Button/Button.tsx
  lib/components/Button/StyledButton.stories.tsx
  lib/components/Button/StyledButton.tsx
  lib/components/Button/index.ts
Due: yarn run lint:eslint, yarn run format:staged

test: working through Button spec
  lib/components/Button/Button.spec.jsx
  lib/components/Button/Button.spec.tsx
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
  lib/components/Button/__snapshots__/Button.spec.tsx.snap
Due: yarn run lint:eslint, yarn run format:staged

revert: reverting Component files to 4.41
  lib/components/Alert/Alert.tsx
  lib/components/Anchor/Anchor.css.ts
  lib/components/Anchor/Anchor.spec.jsx
  lib/components/Box/index.ts
  lib/components/Box/useBoxStyles.css.ts
  lib/components/Box/useBoxStyles.ts
  lib/components/Button/Button.spec.jsx
  lib/components/Button/Button.tsx
  lib/components/Columns/index.ts
  lib/components/Heading/index.ts
  lib/components/HorizontalAutoScroller/HorizontalAutoScroller.css.ts
  lib/components/HorizontalAutoScroller/HorizontalAutoScroller.tsx
  lib/components/Inline/index.ts
  lib/components/OptionGrid/OptionGrid.css.ts
  lib/components/OrderedList/OrderedList.tsx
  lib/components/SelectInput/SelectInput.tsx
  lib/components/Stack/Divider.tsx
  lib/components/Stack/Stack.css.ts
  lib/components/Table/index.ts
  lib/components/Tabs/index.ts
  lib/components/Text/index.ts
  lib/components/Text/useTextStyles.css.ts
  lib/components/Text/useTextStyles.ts
  lib/components/TextAreaInput/TextAreaInput.tsx
  lib/components/TextAreaInput/index.ts
  lib/components/TextBubble/index.ts
  lib/components/TextContainer/index.ts
  lib/components/TextInput/index.ts
  lib/components/TextLink/index.ts
  lib/components/Toaster/index.ts
  lib/components/Tooltip/index.ts
  lib/components/VisuallyHidden/index.ts
  lib/components/private/InputBase/withEnhancedInput.tsx
Due: yarn run lint:eslint, yarn run format:staged

revert: reverting Component files to 4.41 - Actions, Anchor, EditableText, Flyout, Icons, Section, VisuallyHidden
  lib/components/Actions/Actions.tsx
  lib/components/Anchor/Anchor.tsx
  lib/components/EditableText/EditableText.tsx
  lib/components/Flyout/Flyout.tsx
  lib/components/Icon/Icon.tsx
  lib/components/Section/Section.tsx
  lib/components/VisuallyHidden/VisuallyHidden.tsx
Due: yarn run lint:eslint, yarn run format:staged

revert: revert Box while keeping the new box
  lib/components/Box/Box.tsx
  lib/components/Box/newBox/NewBox.tsx
  lib/components/Box/newBox/boxStyles.ts
  lib/components/Box/newBox/useBox.ts
Due: yarn run lint:eslint, yarn run format:staged
