Repository autoguru-au/overdrive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:eslint, yarn run format:staged

chore: vertical translate unneeded
  lib/components/NumberBubble/NumberBubble.css.ts
  lib/components/NumberBubble/NumberBubble.tsx
  lib/components/NumberBubble/__snapshots__/NumberBubble.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

Fix: Missing `useBoxStyles` export (#1199)
  .changeset/spicy-friends-camp.md
  .changeset/thirty-ties-nail.md
  lib/components/NumberBubble/NumberBubble.css.ts
  lib/components/NumberBubble/NumberBubble.tsx
  lib/components/NumberBubble/__snapshots__/NumberBubble.spec.jsx.snap
  lib/components/Text/index.ts
  lib/index.ts
Due: yarn run lint:eslint, yarn run format:staged

refactor: swaps internal instances of Inline to `inline` function or FlexInline
  lib/components/BulletText/BulletText.tsx
  lib/components/Button/Button.stories.tsx
  lib/components/DividerLine/DividerLine.stories.tsx
  lib/components/DropDown/DropDownOption.tsx
  lib/components/Meta/Meta.tsx
  lib/components/OverdriveProvider/OverdriveProvider.stories.tsx
  lib/components/Pagination/Pagination.tsx
  lib/components/SimplePagination/SimplePagination.tsx
  lib/components/StarRating/StarRating.tsx
  lib/components/Stepper/Stepper.tsx
  lib/components/Table/Table.stories.tsx
  lib/components/Table/TableHeadCell.tsx
  lib/components/Tabs/Tab.tsx
  lib/components/Tabs/Tabs.stories.tsx
  lib/components/Tooltip/Tooltip.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

refactor: migrate foundation pages to flex layout, removes transitionary docs helpers
  lib/stories/borders.stories.tsx
  lib/stories/helpers/index.tsx
  lib/stories/helpers/sprinkles.css.ts
  lib/stories/helpers/stack.css.ts
  lib/stories/helpers/styles.css.ts
  lib/stories/icons.stories.tsx
  lib/stories/intentional-colours.stories.tsx
  lib/stories/palette.stories.tsx
  lib/stories/space.stories.tsx
  lib/stories/theme.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

refactor: replaces Stack with `stack` function or FlexStack
  lib/components/DropDown/DropDownOptionsList.css.ts
  lib/components/DropDown/DropDownOptionsList.tsx
  lib/components/Image/Image.stories.tsx
  lib/components/OverdriveProvider/OverdriveProvider.stories.tsx
  lib/components/ProgressBar/ProgressBar.stories.tsx
  lib/components/Table/Table.stories.tsx
  lib/components/Tabs/Tabs.stories.tsx
  lib/components/TextContainer/TextContainer.tsx
  lib/components/Toaster/Toast.tsx
  lib/hooks/useMedia/useMedia.stories.tsx
  lib/hooks/useResponsiveValue/useResponsiveValue.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: OrderedList semantic structure to ensure `li` are children of `ol`, Stepper justify
  lib/components/OrderedList/OrderedList.tsx
  lib/components/Stepper/Stepper.tsx
  lib/components/Table/Table.stories.tsx
Due: yarn run lint:eslint, yarn run format:staged

refactor: implements useBox in Inline, Stack and Text
  lib/components/Inline/Inline.tsx
  lib/components/Stack/Stack.tsx
  lib/components/Text/Text.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: adds shared calcChildElement, component prop type
  lib/components/Anchor/Anchor.tsx
  lib/components/Badge/Badge.tsx
  lib/components/Box/useBox/useBox.ts
  lib/components/Button/Button.tsx
  lib/components/DateTimePicker/DateTimePicker.tsx
  lib/components/Heading/Heading.tsx
  lib/components/Inline/Inline.tsx
  lib/components/OptionGrid/OptionGrid.tsx
  lib/components/OptionList/OptionList.tsx
  lib/components/SearchBar/SearchBar.tsx
  lib/components/Stack/Stack.tsx
  lib/components/Switch/Switch.tsx
  lib/components/Text/Text.tsx
  lib/components/Tooltip/Tooltip.tsx
  lib/styles/elementStyles.ts
  lib/types/index.ts
  lib/utils/elements.ts
Due: yarn run lint:eslint, yarn run format:staged

refactor: useBox in Columns
  lib/components/Columns/Column.tsx
  lib/components/Columns/Columns.tsx
  lib/components/Inline/Inline.tsx
  lib/components/Stack/Stack.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: Text style prop handling
  lib/components/Icon/Icon.tsx
  lib/components/Text/Text.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: install and configure vanilla extract css.ts eslint plugin
  eslint.config.mjs
  package.json
  yarn.lock
Due: yarn run format:staged

feat: makes EditableText have a stable width while editing for browsers that support css `field-sizing`
  .changeset/ready-cougars-sink.md
  lib/components/EditableText/EditableText.css.ts
  lib/components/EditableText/EditableText.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: correct passing of html attribute to useBox
  lib/components/Columns/Column.tsx
  lib/components/Columns/Columns.tsx
  lib/components/Text/Text.tsx
Due: yarn run lint:eslint, yarn run format:staged

fix: correct attribute handling in Flex components
  .changeset/major-emus-grab.md
  lib/components/Flex/FlexInline.tsx
  lib/components/Flex/FlexStack.tsx
Due: yarn run lint:eslint, yarn run format:staged

chore: format changelog
  CHANGELOG.md
Due: yarn run format:staged

chore: ordering props
  lib/components/Flex/FlexInline.tsx
  lib/components/Flex/FlexStack.tsx
Due: yarn run lint:eslint, yarn run format:staged

feat: adds DataAttributes type to useBox
  lib/components/Box/useBox/useBox.ts
  lib/types/index.ts
Due: yarn run lint:eslint, yarn run format:staged

refactor: remakes Button layout with updated recipe and implements with useBox
  lib/components/Button/Button.css.ts
  lib/components/Button/Button.tsx
Due: yarn run lint:eslint, yarn run format:staged

test: rewrites Button spec
  lib/components/Button/Button.spec.jsx
  lib/components/Button/Button.spec.tsx
  lib/components/Button/__snapshots__/Button.spec.jsx.snap
  lib/components/Button/__snapshots__/Button.spec.tsx.snap
Due: yarn run lint:eslint, yarn run format:staged

fix: type of Button cloneElement with ref
  lib/components/Button/Button.stories.tsx
  lib/components/Button/Button.tsx
Due: yarn run lint:eslint, yarn run format:staged

test: snapshots
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
  lib/components/Anchor/__snapshots__/Anchor.spec.jsx.snap
  lib/components/BulletList/__snapshots__/Bullet.spec.jsx.snap
  lib/components/BulletText/__snapshots__/BulletText.spec.jsx.snap
  lib/components/ColourInput/__snapshots__/ColourInput.spec.jsx.snap
  lib/components/DateInput/__snapshots__/DateInput.spec.jsx.snap
  lib/components/DropDown/__snapshots__/DropDown.spec.jsx.snap
  lib/components/EditableText/__snapshots__/EditableText.spec.tsx.snap
  lib/components/HorizontalAutoScroller/__snapshots__/HorizontalAutoScroller.spec.jsx.snap
  lib/components/Meta/__snapshots__/Meta.spec.jsx.snap
  lib/components/MinimalModal/__snapshots__/MinimalModal.spec.jsx.snap
  lib/components/Modal/__snapshots__/Modal.spec.jsx.snap
  lib/components/NumberInput/__snapshots__/NumberInput.spec.jsx.snap
  lib/components/Pagination/__snapshots__/Pagination.spec.jsx.snap
  lib/components/SelectInput/__snapshots__/SelectInput.spec.jsx.snap
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
  lib/components/StarRating/__snapshots__/StarRating.spec.jsx.snap
  lib/components/Stepper/__snapshots__/Stepper.spec.jsx.snap
  lib/components/Switch/__snapshots__/Switch.spec.jsx.snap
  lib/components/Table/__snapshots__/Table.spec.jsx.snap
  lib/components/Tabs/__snapshots__/Tabs.spec.jsx.snap
  lib/components/TextAreaInput/__snapshots__/TextAreaInput.spec.jsx.snap
  lib/components/TextInput/__snapshots__/TextInput.spec.jsx.snap
Due: none

fix: icon-only Button handles custom size prop, responsive layout of Theme Colours doc
  lib/components/Button/Button.tsx
  lib/stories/helpers/styles.css.ts
Due: yarn run lint:eslint, yarn run format:staged

feat: adds `height` to FlexInline and `width` props to FlexStack
  .changeset/ready-cougars-sink.md
  lib/components/Alert/__snapshots__/Alert.spec.jsx.snap
  lib/components/Flex/FlexInline.tsx
  lib/components/Flex/FlexStack.tsx
  lib/components/Flex/flex.ts
  lib/components/SimplePagination/__snapshots__/SimplePagination.spec.jsx.snap
  lib/components/StandardModal/__snapshots__/StandardModal.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

Fix attribute handling (#1204)
  .changeset/major-emus-grab.md
  CHANGELOG.md
  lib/components/Box/useBox/useBox.ts
  lib/components/Flex/FlexInline.tsx
  lib/components/Flex/FlexStack.tsx
  lib/types/index.ts
Due: yarn run lint:eslint, yarn run format:staged

chore: attempting prerelease
  .changeset/pre.json
  .github/workflows/ci.yml
Due: yarn run format:staged

chore: test separate prerelease publish
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: yarn run format:staged

revert: changes to release.yml
  .github/workflows/release.yml
Due: yarn run format:staged

chore: add custom prerelease publishing job
  .github/workflows/ci.yml
Due: yarn run format:staged

chore: try to fix npm auth
  .github/workflows/ci.yml
Due: yarn run format:staged

chore: fix version commit step in the prepublish job and sync package
  .changeset/pre.json
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
Due: yarn run format:staged

chore: add check for version change in prepublish job
  .github/workflows/ci.yml
Due: yarn run format:staged

chore: separate prerelease into a standalone workflow
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
Due: yarn run format:staged

fix: github token name in workflow
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
Due: yarn run format:staged

feat: simplifies NumberBubble props based on actual use
  .changeset/ripe-beds-learn.md
  lib/components/NumberBubble/NumberBubble.css.ts
  lib/components/NumberBubble/NumberBubble.stories.tsx
  lib/components/NumberBubble/NumberBubble.tsx
  lib/components/NumberBubble/__snapshots__/NumberBubble.spec.jsx.snap
Due: yarn run lint:eslint, yarn run format:staged

fix: prerelease workflow commit ref
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
Due: yarn run format:staged

Prerelease Version v4.45.0-next.1
  .changeset/pre.json
  package.json
Due: yarn run format:staged

Path conditions:
  yarn run lint:eslint: any of: *.{js,jsx,ts,tsx}
  yarn run format:staged: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,mdx,json,html,yml})
